[2017-04-02 17:11] rdaly525 opened #7 "Memory leak with construction of 'connections'"
Valgrind shows an uninitialized value error when adding a new connection (ModuleDef.wire(...)).

[2017-04-04 21:34] rdaly525 opened #8 "Add Generators into Json"

[2017-04-04 21:36] rdaly525 opened #9 "Make JSON writer produce nice looking output"

[2017-04-04 21:46] rdaly525 opened #10 "Define set of fundamental stdlib primitives and types"
Types:
  Clk, Reset, Signed, Unsigned, Fixed Point, Floating Point

Primitives:
  Logical: not, and, nand, or, nor, xor, xnor, concat, slice
  Arithmetic: add,sub,mult,div, constants, terminators
  Stateful : FF, Register, Ram, Rom

[2017-04-04 21:50] rdaly525 opened #11 "Define Rigel operators/Types"
Create a library of rigel operators. Only declarations

Types:
Ready-valid handshake...

Map, Reduce, Zip...

[2017-04-13 09:06] #8 closed

[2017-04-13 09:59] #7 closed

[2017-04-13 10:05] rdaly525 opened #15 "Make Top level README up to date"

[2017-04-13 10:11] rdaly525 opened #16 "Implement Verilog code generation"

[2017-04-13 14:46] leonardt opened #17 "Add support for Connections to Python API"

[2017-04-13 17:32] leonardt commented on #17
Tracked in #18

[2017-04-13 17:32] #17 closed

[2017-04-13 18:28] rdaly525 opened #19 "Add connections unit test"
Check invariance of adding the same connection multiple times

[2017-04-21 21:46] rdaly525 opened #26 "Update Python c bindings to correctly find shared library files"
Use branch 'libreorg' in order to:
- [x] Change python bindings  to expect the shared libraries to come from bin/
- [x] Have an easy way of loading coreir-libs into python.
- [x] Update README to describe what is required to add a new library

The load library call will always have a C++ function signature:
Namespace* CoreIRLoadLibrary_<libname>(Context* c);

For example for stdlib:
Namespace* Cor

[2017-04-22 20:44] THofstee opened #27 "Generator Params vs. TypeGen Params"
Currently, the Generator constructor requires that the Params provided to the Generator match the Params provided to the TypeGen. There are cases where you would like the Generator to take additional parameters over the TypeGen. For example, consider a line buffer.

The line buffer needs to know at least 5 things: the width and height of the taps you want, the width of the image, the height of the

[2017-04-22 21:35] THofstee commented on #27
An argument against would be we would need to know the image width in order to know the delay of a module, but I'm going to disagree with that by saying the delay of a module should be a property of a module, not a property of its interface.

I'm open to hear what anyone else thinks.

[2017-04-24 18:11] leonardt commented on #26
Tracked by https://github.com/rdaly525/coreir/pull/29

[2017-04-24 20:34] rdaly525 opened #30 "Update codebase to use llvm-style RTTI"
http://llvm.org/docs/HowToSetUpLLVMStyleRTTI.html#classof-contract

This is partially implemented right now by using the 'kind' discriminator. Should create a casting.hpp file similar to LLVM's in order to use isa(), cast(), and dyn_cast()

[2017-04-25 14:15] rdaly525 opened #31 "Update Generators and TypeGens to use a method called 'run' instead of a function pointer"
Currently I have an ugly function pointer attached to the generators and Typegens. This should definitely just be a normal method.

One way to maintain usage of passing in a function pointer is to allow these classes to be inherited from the base class like:

class PassFunPtr : Typegen {
  FunPtrType f;
  PassFunPtr(FunPtrType f) : f(f) {}
  Type* run(...) {
     f(...)
  }
}

[2017-04-25 17:26] leonardt commented on #26
I imagine the Python interface to look something like
[code]
To do this, it could dispatch on the argument to `load_library` and call the correct function `coreir_stdlib.CoreIRLoadLibrary_stdlib(ctx)` but either:
* The load library call is defines an `extern C` function and uses the `coreir-c` opaque types.
* The library registers itself with the C-api which holds a map between strings to library

[2017-04-25 21:34] rdaly525 commented on #26
@leonardt In regards to #2, how does the library register itself with the C-api? I think it would still necessarily involve writing an extern C function per library. Unless I am misunderstanding something...

That being said, it would be cool to be able to register library functions which would mean no need for a specific function name standard.

[2017-04-26 16:32] rdaly525 opened #32 "Codebase cleanup"
- [x] Remove all "using namespace xxx" from any header files

- [ ] Add License file for freeBSD license

- [x] Create a generic file comment header and add to every source file.

- [ ] Audit all the decisions to use class vs struct

- [ ] Go through all 'TODO's in code and resolve or move to a github issue

- [ ] Change code to use References rather than pointers when possible

- [ ] Add const wh

[2017-04-26 16:44] rdaly525 opened #33 "API Problems and Requests"
This is a general issue for discussing problems with the coreIR API

Please comment on this github issue with API problems labeled with C++, C, or Python

Does a function cause a segfault? (If so please file a separate issue)
Does a function cause coreIR to falsely error?
Does a function produce unhelpful error messages?
Is the name of the function confusing?
Is there some basic function you want

[2017-04-26 17:12] rdaly525 opened #34 "Python API should never cause CoreIR to die"
Update C and Python bindings such that you cannot get coreIR to die using the Python API

[2017-04-26 17:12] leonardt opened #35 "Try SWIG for generating API wrapper"
http://www.swig.org/

Could allow us to automatically generate Python and Lua bindings

[2017-04-26 17:40] rdaly525 commented on #27
I think this is good and allows typegens to be able to be used by a larger set of generators.

[2017-04-27 17:41] rdaly525 commented on #31
This is fixed in Genupdate

[2017-04-27 17:41] #31 closed

[2017-04-27 19:38] rdaly525 commented on #26
@leonardt I just pushed to the clibfix branch (off of libreorg) the addition of the C stdlib api. There are three TODOs (one in lib/libs/stdlib.cpp, two in include/coreir-libs/stdlib.h)

It would be awesome if you could make macros (defined in include/coreir.h) that would macrofy each of the 3 TODOs.

Also now that we have the C api for the libs, you can add them to the python bindings

[2017-04-27 22:53] leonardt commented on #26
README updated [link](https://github.com/rdaly525/coreir/tree/clibfix#libraries).
@rdaly525 Should I submit a PR for this branch or are there other fixes pending? I'll wait to close this issue until we merge the branch.

[2017-04-28 02:22] #26 closed

[2017-04-28 16:11] rdaly525 opened #38 "Change all BitOut to just Bit"
Also add functions:

Type* In(Type*) to convert all Bits to BitIns
Type* Out(Type*) to convert all BitIns to Bits

[2017-04-28 19:02] THofstee commented on #33
`libs/stdlib.hpp` has `using namespace CoreIR;` as one of the lines in the file. This seems like a potentially bad idea because now any file that #includes stdlib will now also be using the CoreIR namespace.

[2017-04-28 19:09] rdaly525 commented on #33
Totally agree. This should be added to the issue #32

[2017-04-28 19:15] THofstee commented on #32
- [ ] Remove all `using namespace xxx` from any header files
is probably more along the lines of what we want.

[2017-04-28 20:38] THofstee commented on #33
Can confirm that passing in nullptr as the Type* to runGenerator causes a segfault.

[2017-05-01 21:40] jeffsetter opened #40 "passes.hpp file extension"
All other header files in the include directory use .h while include/coreir-pass/passes.hpp uses a .hpp extension. I propose to switch this file to passes.h for consistency.

[2017-05-01 22:16] leonardt opened #41 "Fix bug in Instance.get_config_value"
@cdonovick Can you provide a simple example of where `get_config_value` returns a string for a constant?

[2017-05-02 02:08] #27 closed

[2017-05-02 02:13] rdaly525 opened #42 "RunGenerator behavior needs to be fixed to prevent segfault"
I am changing the runGenerator behavior to have the following api

//Will return a module after running the typegen
Generator::getModule(Args)

//Will set the moduleDef by running the generator
Generator::setModuleDef(Module,Args)

//Will run the generator based off the genargs that instance has
Instance::runGenerator()

[2017-05-02 02:14] rdaly525 opened #43 "Cache the typegen generated types in the typegen instead of namespace"
Also maybe cache the results of running the generator ModuleDef

[2017-05-02 02:15] rdaly525 commented on #42
This is in branch rungenfix

[2017-05-02 02:17] rdaly525 opened #44 "Implement uniquifying names for modules, generators and namedtypes"

[2017-05-02 02:35] THofstee commented on #40
Because there are a mix of c and c++ files in this repo now, maybe it would be better to name any C headers with .h and any C++ headers with .hpp?

[2017-05-02 02:35] cdonovick commented on #41
It doesn't.

On May 1, 2017 3:16 PM, "Leonard Truong" <notifications@github.com> wrote:

@cdonovick <https://github.com/cdonovick> Can you provide a simple example
of where get_config_value returns a string for a constant?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/rdaly525/coreir/issues/41>, or mute the thread
<https:/

[2017-05-02 02:57] rdaly525 commented on #40
I think in general that should be the case, but for anything in include/* we should name it as .h so that we can include them in the c api.

In the Readme, we have a well defined way of adding libraries so that we can use it in both the C api and the c++ api.

Passes should probably do something similar.

[2017-05-02 02:59] rdaly525 commented on #42
@THofstee, the rungen issue should be fixed now

[2017-05-02 02:59] #42 closed

[2017-05-02 03:35] #41 closed

[2017-05-02 06:05] jeffsetter commented on #33
The formatting for 2+ dimensional arrays seems a bit cumbersome. Perhaps some syntactic sugar to make specifically arrays easier to write?

      {"out",context->Array(3, context->Array(3,
                                              context->Array(bitwidth,context->BitOut())  )) }

[2017-05-02 06:41] rdaly525 commented on #33
@jeffsetter What is a proposed syntax?

[2017-05-02 09:06] rdaly525 commented on #38
Fixed by pull request #46

[2017-05-02 09:06] #38 closed

[2017-05-02 09:21] rdaly525 commented on #19
Fixed by commit 7b2c1c3186889cb92bc342945cc64fef6d198785

[2017-05-02 09:21] #19 closed

[2017-05-02 09:21] rdaly525 commented on #15
Close this one because the readme is sufficient for now

[2017-05-02 09:21] #15 closed

[2017-05-02 18:31] jeffsetter commented on #33
I was thinking that C's array syntax is fairly standard, so something like
context->BitOut()[bitwidth][3][3]

I'm not sure if this would be annoying to implement, but it looks a little cleaner to me.

[2017-05-02 21:13] rdaly525 commented on #30
Fixed by #47

[2017-05-02 21:13] #30 closed

[2017-05-02 21:57] rdaly525 commented on #33
@jeffsetter I have thought about doing that, the problem is that Type is a pointer. And you would have to dereference it in order to use the [] operator.

So it would have to look like:
Type* stencil = *(*(*(context->BitOut())[bitwidth])[3])[3]

Which I would argue is uglier.

I could do:
Type* stencil = context->BitOut()->Arr(bitwidth)->Arr(3)->Arr(3)
which is a bit better.

[2017-05-02 22:12] rdaly525 commented on #33
Added in #48

[2017-05-03 01:28] rdaly525 opened #49 "Add Caleb's python loadability test to coreir python tests"
https://github.com/cdonovick/SMT-PNR/blob/master/src/design/core2graph.py

[2017-05-03 14:53] THofstee commented on #35
Here's another option: https://github.com/google/clif

[2017-05-03 20:25] rdaly525 commented on #35
I would be a little worried because this goes from C++ to python. This might not be good if we want to interface with Lua too.

The ideal thing would be to write a single C header file (coreir.h), and then automatically generate the Lua and Python bindings.

[2017-05-03 20:29] rdaly525 opened #50 "Create an Instance Pass framework"
This should be a framework for iterating over all instances in the design and performing some set of actions on the instance.

An initial step would basically implement 1 to 1 replacement.
A second step would be able to swap out multiple things.

[2017-05-03 20:34] rdaly525 opened #51 "Add a pattern matching search and replace framework"
An awesome feature to have which would make mapping, and many peep-hole compiler optimizations.

The interface would be something along the lines of:

patternMatch(Module* pattern, Module* replacement, string startinst)

This would go through all instances and see if it matches the pattern defined in pattern.def starting with the pattern.startinst.

It will then go and replace all of the matches

[2017-05-03 21:13] cdonovick opened #52 "pycoreir dies on opening symlinked files"
Trying to open a symlink results in:
[code]

Clearly not a high priority bug

[2017-05-03 21:49] leonardt commented on #52
Is this when using `context.load_from_file(..)`? If so, I'm guessing it's an issue in the coreir library since the bindings pass the file path as a string.

[2017-05-04 01:02] rdaly525 opened #53 "Create a Directed Graph view of CoreIR"
This is HIGH priority so that Caleb can work on his stuff

Things we need to do to get this working.

- [x] Create light wrapper classes around Module/Instances/Edges to represent directed graph
- [x] Construct view by first verifying that it can be represented as such (error if not)
- [x] Create c accessor and iterator functions (Should we change c api to have iterator operations instead of retur

[2017-05-04 04:05] rdaly525 opened #55 "Add custom assert function that you can pass in a string"
And update the asserts to use that one.

[2017-05-04 04:09] rdaly525 opened #56 "Add to typechecking: Make sure the select paths never result in an AnyType for connections"

[2017-05-04 04:52] rdaly525 commented on #44
Partially implemented by commit c0ea100641662ac0339e0659937ee0fb4b74ca35

[2017-05-04 18:42] rdaly525 commented on #53
@leonardt

I have a semi-complete api for what I want the directed graph to be located in branch dview in src/directedview.hpp

Could you start working on updating the C api and python bindings for this?

[2017-05-10 05:00] THofstee commented on #33
I believe coreir.h and coreir-c.h should replace `extern COREModuleDef* COREModuleGetDefs(COREModule* m);` with `extern COREModuleDef* COREModuleGetDef(COREModule* m);`. There is no such function named `COREModuleGetDefs`.

[2017-05-11 17:42] leonardt opened #60 "Refactor Python bindings"
The `__init__` file has become unwieldly
- [x] split classes into separate modules
- [x] convert object APIs to be idiomatic python (i.e. using @property methods)

[2017-05-11 18:14] rdaly525 commented on #50
The way that LLVM does this is they have all the 'Uses' of a function within a LLVM::Module, and you have a command that just says replace all instances with this other instance.

I could do the same thing for CoreIR where I basically keep pointers to all instances (within a namespace) which use a specific Module. Then add a function from module that says replace all instnaces of this module with

[2017-05-11 18:56] leonardt opened #62 "Rename COREModuleAddDef to COREModuleSetDef"
Reflects change to Module API, python bindings should be updated as well
- [x] `coreir-c.{h,c}`
- [x] `__init__.py`

[2017-05-12 02:44] #55 closed

[2017-05-12 19:25] leonardt commented on #53
https://github.com/rdaly525/coreir/pull/65 implements initial support for the directedview api

[2017-05-13 14:37] leonardt commented on #53
Reminder that I still need to implement directedinstace.get_inputs/get_outputs

[2017-05-13 15:29] rdaly525 commented on #62
This should be fixed in dview commit https://github.com/rdaly525/coreir/commit/a197386b6d5eee11eea236d1d90a3a1b9a9bff72

[2017-05-13 15:29] #62 closed

[2017-05-13 15:31] rdaly525 commented on #53
I just merged your pull request and a couple of minor changes into branch dview. For some reason when I call pytest, it just does nothing. I am not sure what I screwed up... @leonardt could you take a look?

[2017-05-13 22:38] rdaly525 commented on #56
This is fixed already

[2017-05-13 22:38] #56 closed

[2017-05-13 22:39] rdaly525 opened #66 "Add function to inline instances"

[2017-05-14 18:59] rdaly525 commented on #40
This should be fixed by pull request #67

[2017-05-14 19:08] #66 closed

[2017-05-14 19:08] #40 closed

[2017-05-15 17:13] leonardt commented on #53
@rdaly525 it fails on on the call to `def->validate()` inside `module::setDef()`. It seems that this function is defined in moduledef.hpp but not in moduledef.cpp, perhaps this function was dropped in the merge?

[2017-05-15 17:30] rdaly525 commented on #53
I will look into that. Out of curiosity, how did you determine that? I am seeing no failure mode

[2017-05-15 17:32] leonardt commented on #53
I also saw nothing when running in GDB which was strange.

I backed off the `test_directedview.py` test to see which call was causing the failure (i.e. commented out source lines). Saw it was dieing when doing the `module.set_definition` call so I performed the same procedure inside `module.setDef` to see what was causing the failure.

[2017-05-15 17:36] rdaly525 commented on #53
ModuleDef::validate() is defined in moduledef_validate.cpp

[2017-05-15 17:36] rdaly525 commented on #53
I am using setDef in all my C++ tests. so it is curious that it only fails in python

[2017-05-15 17:37] leonardt commented on #53
ah, didn't think that it would be defined in separate file, I will keep digging

[2017-05-15 17:38] leonardt commented on #53
Oh, it seems that coreir is dieing but the print out was being captured by pytest

Getting this error
[code]

[2017-05-15 17:39] leonardt commented on #53
Perhaps a call to validate should produce an error instead of having coreir die?

Normally pytest will dump stdout/stderr on failure but since coreir was dieing under the hood the process was killed.

[2017-05-15 17:42] rdaly525 commented on #53
Ah that makes sense. Yeah passing an error would probably be better

[2017-05-15 17:43] leonardt commented on #53
I will update the `.travis.yml` to run with `pytest -s` for now. The output will be a bit harder to parse since it won't capture stdout/stderr but it at least will print coreir error messages.

[2017-05-15 17:49] leonardt commented on #34
The recent bug in dview makes me motivated to tackle this error handling.

@rdaly525 any opinion on whether we should have the C-API functions return error codes or use an error flag passed as a parameter?

[2017-05-15 21:46] rdaly525 opened #68 "Bug in get_config_args:"
1 import coreir
  2 import sys
  3
  4 def load_core(file, *libs):
  5     context = coreir.Context()
  6     for lib in libs:
  7         context.load_library(lib)
  8
  9     top_module = context.load_from_file(file)
 10     top_def = top_module.get_definition()
 11     for inst in top_def.get_instances():
 12         print(inst.module_name())
 13         if 'PE' == inst.module_name()[0:2]:
 14

[2017-05-16 01:20] rdaly525 commented on #34
I like the llvm approach. The majority of functions don't have errors.

Have "has", "get", and "set" functions.
Basically all getter functions return null if it can't get the value. To do error checking here, you should always call the has function first.

In terms of thing she like validate/typechecking that should definitely pass in a bool* or return a bool. But the number of these types of func

[2017-05-16 21:31] cdonovick commented on #33
There is currently no way to determine the bitwidth of a connection in python beyond inspecting the selectpath of both end points and searching for `'data'` or `'bit'` and making the assumption that:
`*.data.out -> *.data.in[*]` implies 16 bit connection and
`*.bit.out    -> *.bit.in[*]` implies 1 bit connection

It would be preferable if connections had their width.

[2017-05-16 21:57] rdaly525 opened #71 "Ability to get type and bit width of connection"
Need to add this in C++, C, and python API

Option 1:
implement Type.getRawWidth()

Option 2:
~~Port over the isa, and cast functions,~~ and ArrayType.getLen()

[2017-05-16 21:59] leonardt commented on #49
Do we have a test file we can use for this?

[2017-05-16 22:14] rdaly525 commented on #33
@caleb, opened new issue #71

[2017-05-17 07:14] rdaly525 commented on #68
Not a bug

[2017-05-17 07:14] #68 closed

[2017-05-17 07:33] rdaly525 opened #73 "C API updates (class inheritance)"
I think it would be good to make consistent and simplify the C API. It is annoying to port over class inheritance structures. And I think I have been a bit ad hoc about it.

In general if there is an inheritance hierarchy, only define the Base class type for the C API. And have all the functions in all of the class hierarchy take in that one Base class type and internally cast it.
For example, cha

[2017-05-17 07:35] rdaly525 commented on #53
This issue is fixed by pull request #72

[2017-05-17 07:35] #53 closed

[2017-05-17 21:54] rdaly525 commented on #71
I think the correct solution is to use issue #73 solution. Basically just have a function COREGetLen(COREType* arraytype)

[2017-05-18 01:37] THofstee commented on #33
C interface segfaults when calling `CORELoadModule` on `_add4Gen.json` from unit tests.

[2017-05-18 01:38] THofstee opened #75 "C API segfaults when calling CORELoadModule on _add4Gen.json from unit tests."
I can load `_simple.json` fine, so if it's still an issue due to how I'm using the API then there probably needs to be a way of describing what libraries/etc. a json module file needs.

[2017-05-18 21:41] #75 closed

[2017-05-22 18:12] #60 closed

[2017-05-24 23:42] rdaly525 commented on #73
@leonardt I am working in branch capi. The C api is working, and the python bindings need updating.
Summary of changes can be found in the commit message. Let me know if you have any questions.

[2017-05-24 23:43] rdaly525 commented on #73
@THofstee These changes might affect you too. I am in the process of refactoring/simplifying the C api.

[2017-05-24 23:44] rdaly525 commented on #73
Also I annoyingly renamed the COREInt2Arg and COREArg2Int functions to be more consistent with the C++ naming conventions.

[2017-05-24 23:46] leonardt commented on #73
I'll probably want to wait for https://github.com/rdaly525/coreir/pull/76 to be merged before I make more changes to the Python bindings. Or at least rebase `capi` off of it so I don't have to deal with the conflict later.
@cdonovick would merging https://github.com/rdaly525/coreir/pull/76 break your code? Or are you working off of master

[2017-05-24 23:46] THofstee commented on #73
I'll take a look. In the c api in the dev branch there are a number of misc bugs - multiple cases of using pointers to strings that have been deleted on the stack, and a few cases of nondeterministic behavior (sometimes get path length of 2 for src, or 3, or a type casting error), among others that I've been fixing as I come along.

[2017-05-25 00:10] THofstee commented on #73
At a quick glance it looks like most of the bugs are still present in the new version. Regardless I'm going to rebase my branch off the new code.

[2017-05-25 01:26] rdaly525 commented on #73
@THofstee If you can create a test that causes bad behavior, definitely file a bug on me so I can take a look.

[2017-05-25 01:37] THofstee commented on #73
It's not so much test cases, but actual use of the API. It seems that a few of the ones that were bugs before have been changed in the underlying structure so they are non issues, but for example:

`const char* COREGetInstRefName(COREWireable* iref) {
	string name = rcast<Instance*>(iref)->getModuleRef()->getName();
	return name.c_str();
  }`

should be more like:
`const char* COREGetInstRefName(C

[2017-05-25 01:52] cdonovick commented on #73
I working off coreir master currently

On May 24, 2017 6:37 PM, "THofstee" <notifications@github.com> wrote:

[2017-05-25 01:58] rdaly525 commented on #73
is the char* created on the stack? I thought that c_str() just pointed to the internal char* within std::string. I am confused why that is not the case.

[2017-05-25 02:06] THofstee commented on #73
It's valid as long as the string is valid. The string is created in the function, then destroyed at exit. If it was a string reference it would be better, but this still didn't work in my case, likely due to the getName() function doing something similar if I had to guess.

[2017-05-25 02:07] THofstee commented on #73
Forgot to add: Valid assuming no modifications to the string have been made in the meanwhile.

[2017-05-25 02:18] THofstee commented on #73
Yeah it looks like getName() returns a string. If that was changed to return a string& and you are fine with users having direct access to that memory (which I think is the right choice here, their fault if they invalidate it) then changing this function to just return the c_str() (either without the temp string allocation, or just calling c_str() after getName() and returning that call directly)

[2017-05-25 02:26] rdaly525 commented on #73
Ah I see the issue now. Let me check how LLVM deals with this kind of thing

[2017-05-25 02:32] rdaly525 commented on #73
Yeah, I agree that I should just return a reference to the string.

[2017-05-25 02:33] rdaly525 opened #79 "Change all the get functions which return strings to return a reference to the string"

[2017-05-25 06:38] THofstee commented on #73
Ok the issue I had with DirectedModule seemingly returning unrelated inputs/outputs was my fault -- Lua indexing starting from 1 threw me off.

[2017-05-30 20:55] rdaly525 opened #82 "Directed View should be invalidated when the module changes (like flatten)"

[2017-05-31 23:06] rdaly525 commented on #73
Fixed by #83

[2017-05-31 23:06] #73 closed

[2017-06-01 00:52] rdaly525 commented on #71
@leonardt Can you add the Python api for Type.get_len()? You should throw an error if the type is not an array type. @cdonovick wanted this so he does not have to hardcode things.

[2017-06-01 00:57] rdaly525 commented on #51
Initial version implemented by #84

[2017-06-01 00:59] THofstee commented on #71
I actually hacked this in to my branch. I just did the following:

[code]

[2017-06-01 04:29] rdaly525 opened #86 "Why is flattening not segfaulting?"
It seems like I am unsafely editing iterators

[2017-06-06 22:14] #71 closed

[2017-06-06 22:14] rdaly525 commented on #71
Also implemented getSize on types.

[2017-06-06 22:22] rdaly525 commented on #49
I think all of these are tested in unit tests.

[2017-06-06 22:22] #49 closed

[2017-06-06 22:22] rdaly525 commented on #79
Fixed from pull request #85

[2017-06-06 22:24] rdaly525 commented on #50
Should have a function like:

Instantiable* replaceAllUsesWith(Instantiable*)

[2017-06-06 22:25] rdaly525 commented on #51
This should actually be implemented as a legitimate pass.

[2017-06-06 22:26] rdaly525 commented on #10
These are mostly implemented. Closing for now.

[2017-06-06 22:26] #10 closed

[2017-06-06 22:37] rdaly525 commented on #52
Seems to work, so not a bug.

[2017-06-06 22:37] #52 closed

[2017-06-06 22:46] rdaly525 commented on #86
Not a bug. The iterator is over the map<string,Instance*>, so even if I delete the Instance*, the map iterator is still valid.

[2017-06-06 22:46] #86 closed

[2017-06-06 23:04] THofstee commented on #79
Just ran into a bug with `COREDirectedConnectionGetSrc/Snk`, all the locations where there is a `newConstStringArray` points into a `std::vector<std::string>` from the C++ API, which is freed since nothing holds on to that vector. Either the char** needs to use malloc for each entry, or the vector needs to be added to a global list like some of the other functions.

[2017-06-07 15:23] rdaly525 commented on #79
@THofstee, Thanks I will try to fix this

[2017-06-07 17:38] rdaly525 commented on #79
@THofstee Can you confirm #92 fixes this issue?

[2017-06-07 21:09] THofstee commented on #79
seems like it is fixed.

[2017-06-07 21:09] #79 closed

[2017-06-13 01:06] leonardt opened #95 "Support getting the width of a connection"
Caleb needs this for PNR.
Syntax proposals: `len(connection)` or `connection.width`
Should be simple for a normal connection (just get the width of one of the wireables)

For directed connections (which Caleb is using) the current way to do it is a bit clunky (need to follow the select path to get a wireable which you can query for the type and then width). This is because connection.source return

[2017-06-13 13:50] rdaly525 commented on #95
If this is urgent, I would say just implement the python len() function for connection first by abstracting away the clunkyness to the python bindings.

There is nothing wrong with getsrc/getSnk returning a Wireable instead, although it is a little bit clunky if you just want to traverse the directed graph.

[2017-06-13 17:58] leonardt opened #96 "len(type) -> type.bit_width"
Makes it more explicit and then we can have `Bit.bit_width` return 1

[2017-06-13 18:19] rdaly525 opened #97 "Embed all of coreir into coreir-c.so"
Specifically create a shared library module for coreir-c.so which does not need to include coreir.so

[2017-06-13 18:50] rdaly525 commented on #96
I thought we decided to have only len on Array types. the .size property is already implemented which gives you the raw size (bit width) of the signal.

[2017-06-13 18:50] rdaly525 commented on #95
I would maybe have a connection.size for the raw bit width in a similar way for type

[2017-06-13 21:17] leonardt commented on #96
@cdonovick use `type.size` to get the bit width instead of `len`.

[2017-06-13 21:17] #96 closed

[2017-06-13 21:18] leonardt commented on #95
I'll do `connection.size` for now to be consistent with the type API.

[2017-06-15 00:37] leonardt opened #98 "[python-api] support getGenargs"
- [x] `instance.generator_args`
- [ ] `type.generator_args`

[2017-06-19 23:28] leonardt opened #100 "Migrate C/Python API to use iterator pattern"
Iterator API
* `CORE{type}Get{member}Iter` Returns an iterator over `member`
* `COREIterFirst` Get the first item from an iterator
* `COREIterNext` Get the next item from an iterator
* `COREIterLast` Get the last item from an iterator
This would allow us to reuse COREIter{First,Next,Last} for all *iterable* members throughout the API. That is, each class with an iterable member will just need to i

[2017-06-20 00:12] leonardt commented on #35
Should consider the experience report from the Halide devs found at https://github.com/halide/Halide/tree/master/python_bindings (excerpted below).

## Why did we move from SWIG to Boost.Python ? ##

Problems with (old) SWIG bindings:

- P1) SWIG cannot parse C++15, and it will always lag
- P2) Python code is not compiled/tested together with C++ codebase
- P3) Albeit SWIG is ment to provide "auto

[2017-06-20 00:25] rdaly525 commented on #35
This is all complaints about C++ code. It would be useful to figure out if these problems also exist for C code

[2017-06-20 00:27] rdaly525 commented on #100
I think the second would be best. I do not see how we could do the first without having void* as the parameter types.

[2017-06-24 02:33] rdaly525 opened #102 "Change SelectPath to be a deque instead of a vector."
I find myself inserting stuff at the beginning more often than inserting at the end.

[2017-06-26 19:23] rdaly525 commented on #102
Fixed by #103

[2017-06-26 19:27] #102 closed

[2017-06-26 23:08] leonardt opened #105 "Implement a generic class for iterables"
That is, move next/prev logic used for the moduleDef.instances iterator to the Instances themselves by inheriting from a generic class that defines the next/prev API.

[2017-06-27 23:55] rdaly525 opened #107 "Implement isEqual for modules"
Should this be a pass? or embedded function.

[2017-06-28 21:29] leonardt opened #109 "Write some formal docs"
Possible formats I've encountered in past projects:
* raw markdown files in a `docs` directory. Simplest, can read via text editor or github's web interface
* github wiki. Easiest collaboration, keeps commit history separate from doc changes.
* [mkdocs](http://www.mkdocs.org/) Generates a website from markdown pages. Fanciest, requires some setup but I've done this before.

I'm open to suggestions

[2017-07-03 20:45] leonardt opened #110 "[python-bindings] Fix interface consistency issues with `get_config_value`"
Make the interface consistent with `instance.generator_args`.
* `instance.get_config_value(name) -> instance.config[name]`
* Return an `Arg` object rather than the raw value

[2017-07-07 16:08] leonardt commented on #110
Closed by #111

[2017-07-07 16:08] #110 closed

[2017-07-07 17:09] leonardt opened #113 "[python-api] Update various params/args interfaces to use LazyDict pattern"
Pattern was introduced in https://github.com/rdaly525/coreir/pull/111 for instance.config

- [ ] module.modparams
- [ ] generator.modparams
- [ ] generator.genparams
- [x] instance.genargs
- [x] instance.mod
- [x] namespace.instantiables
- [x] namespace.generators
- [x] namespace.modules

[2017-07-08 03:10] rdaly525 opened #115 "Use stdlib registers for CGRA instead of cgra registers"
We need to replace any register used in the Halide->coreIR path with stdlib registers.
I also added the concept of default genargs/configargs to make this easier.

[2017-07-08 03:11] rdaly525 commented on #51
This was finished in #108

[2017-07-08 03:11] #51 closed

[2017-07-10 17:35] leonardt opened #116 "Have make install actually install into the system"
I propose we separate the notion of building and installing coreir.
* `make` builds the coreir shared libraries into a build directory (basically what `make install` does now)
* `make install` copies the build into the system path (i.e. `/usr/lib/` and `/usr/include`)

This moves us towards a `make install` for the entire CGRAFlow (that is, each internal dependency needs a notion of `make install`

[2017-07-10 18:06] rdaly525 commented on #116
I would be okay with separating out the python bindings into a separate repo. It is essentially a separate project on its own that you are maintaining. Kind of like llvmlite.

I also think separating out the make and make install is a good idea as we would have to do that anyways for a real release of coreir. You probably know better than me how other projects do that.

We should probably create a

[2017-07-10 18:15] rdaly525 opened #117 "Create coreir binary"
This should be a similar command to 'llvm'.
Should be able to read in coreir json, run passes on it, link in libraries/files, and produce a new coreir json or other backends (verilog, cgra)

[2017-07-19 20:08] #95 closed

[2017-07-24 22:10] leonardt opened #123 "shl, lshr, ashr missing from vgenstdlib.py"

[2017-07-26 22:20] #123 closed

[2017-07-26 23:47] rdaly525 opened #129 "Add Analysis dependencies in passes"
LLVM allows you to have dependent passes. You can also reference data structures built up by dependent passes.

I should be able to move things like directedView and InstanceGraph to us analysis dependencies

[2017-07-27 20:00] rdaly525 commented on #129
I also should add a way to register the passes. LLVM does this by forcing a static ID to be defined per class. The address of this ID is used as a unique identifier of the pass.

[2017-07-27 21:20] rdaly525 opened #131 "Bug in Instance.runGenerators()"
Running addN with

RunAllGenerators
FlattenAllPass

Creates inconsistent behavior.

[2017-07-28 16:39] rdaly525 opened #133 "Create a script to generate all the firrtl primitive op wrappers"
This will look similar to the script we have for generating verilog modules.
I think this would be nice so that we could leverage it in the firrtl backends for both magma and coreir.
What do you think?

[2017-07-28 17:02] leonardt commented on #133
Sounds reasonable.

One issue is that my firrtl backend for magma emits a wrapped module for each input width (i.e. Add8 where the input types are UInt<8>). It does this on demand depending on what is used the in the magma circuit being compiled.

I just read in the spec that you can leave the width of the IO types to a module unspecified.

This sounds like a better strategy. Basically, define a g

[2017-07-28 17:21] leonardt commented on #133
Also, because it doesn't hurt to ask :)
https://github.com/freechipsproject/firrtl/issues/632

[2017-07-28 17:37] leonardt commented on #133
From Adam:

So looks generating wrapped modules with the inline annotation is our best bet.

[2017-07-28 17:46] rdaly525 commented on #133
Yeah that does make sense. The only other way to do that would be if they could parameterize instances (which I do not think they could do)
inst my_adder_signed of add(SInt)

[2017-07-28 17:53] rdaly525 commented on #133
But yeah, I do agree that it is preferable to use wrappers that are generic over the width. We might as well utilize that feature. I also definitely agree that we will need separate ops for signed and unsigned.
For example something like

`Module firrtl_slt :
  in : UInt[2]
  out UInt<1>
  in0 <= toSInt(in[0])
  in1 <= toSInt(in[1])
  out <= lt(in0,in1)`

[2017-07-31 19:06] rdaly525 commented on #131
I think it would be for the best to not have any Module Declaration in a generator Instance. That should only exist once I run runGenerator().  This means that I might have multiple modules that represent the same thing.

[2017-08-02 20:34] leonardt opened #135 "[python-bindings,c-api] Update COREWireableGetModuleDef to reflect C++ API name change"
`COREWireableGetModuleDef` -> `COREWireableGetContainer`

[2017-08-02 20:59] rdaly525 commented on #131
This will be solved with PR #134

[2017-08-02 20:59] #131 closed

[2017-08-03 07:05] rdaly525 commented on #50
This was already put in

[2017-08-03 07:05] #50 closed

[2017-08-03 07:06] rdaly525 opened #136 "Move Directed View to be part of pass framework"

[2017-08-06 14:22] rdaly525 opened #137 "Add Registers/clocks to Firrtl backend"
Also add support for mixed types
Also explicitly add testing of the generated output

[2017-08-06 14:34] rdaly525 commented on #137
https://github.com/freechipsproject/firrtl-interpreter
@leonardt, were you able to find a standalone firrtl interpreter? It seems like it is heavily coupled with Chisel. What were the steps you did to run a single firrtl file?

[2017-08-07 21:34] rdaly525 commented on #117
I will probably need to dynamically load classes and such:
http://tldp.org/HOWTO/C++-dlopen/thesolution.html

[2017-08-07 21:38] rdaly525 commented on #133
@leonardt, Are you going to be able to do this before the meeting next Monday? Also related, do you know if it is possible to have separate files for the same firrtl circuit?

[2017-08-07 22:20] leonardt commented on #133
@rdaly525 sure, I can have it done by Wednesday (busying prepping for AHA presentation tomorrow)

[2017-08-08 00:23] rdaly525 commented on #133
Awesome thanks!

[2017-08-08 23:43] leonardt commented on #133
@rdaly525 I've started on this, but it looks like we're not going to be able to use this approach for parameterized primitives like `shr(e, n)` where `n` is a parameter (static shift). I can't generate a module for each parameter, so it looks like you'll need to either generate these modules on demand (when you know which specific parameter you need) or special case the code generation to handle f

[2017-08-09 14:45] rdaly525 commented on #133
Is that the only case where this is an issue? I could imagine a workaround to be just treat it as a dynamic shift and let firrtl compiler change it to a static shift.

[2017-08-09 15:48] leonardt commented on #133
ops with parameters are
* `pad`
* `shl`, `shr`
* `bits` (bit extraction, selecting a range of bits)
* `head`, `tail` (truncate `n` bits off the beginning/end)

[2017-08-14 14:55] rdaly525 opened #141 "Change name of stdlib"
stdlib.h seems to be an important file and name aliasing is possible

[2017-08-14 15:26] rdaly525 opened #142 "add hasNamespace to c/python api"
Also rewrite the test for loading libraries.
(This is due to stdlib being moved into context by default)

[2017-08-15 02:48] rdaly525 commented on #141
Should be fixed by #144

[2017-08-15 02:48] #141 closed

[2017-08-17 06:01] rdaly525 opened #152 "Bug in Flatten/Inline"
Trying flatten pass on doc/counter.json does not produce correct results

[2017-08-17 18:13] rdaly525 commented on #44
closing for now

[2017-08-17 18:13] #44 closed

[2017-08-17 18:14] rdaly525 commented on #82
Closing, as this should be fixed by #136

[2017-08-17 18:14] #82 closed

[2017-08-18 08:05] rdaly525 opened #157 "Change name of "_G" to "global""

[2017-08-18 17:34] rdaly525 commented on #152
This should be fixed by #158

[2017-08-18 17:34] #152 closed

[2017-08-18 17:48] rdaly525 opened #160 "Merge Dev into Master"
Oh god this will be painful.

[2017-08-21 01:55] #160 closed

[2017-08-21 01:56] #129 closed

[2017-08-21 01:56] #117 closed

[2017-08-21 01:57] rdaly525 commented on #16
#162

[2017-08-21 01:57] #16 closed

[2017-08-21 01:57] rdaly525 commented on #9
#158

[2017-08-21 01:57] #9 closed

[2017-08-21 01:57] rdaly525 opened #163 "Add back TypeGen stuff into json file"

[2017-08-21 18:22] rdaly525 opened #166 "Python bindings are broken"
When I run the bindings on my mac, I get:

[code]

This is the case for trying to load any library which references libcoreir.dylib. This is NOT broken when I run a C++ test which uses the same library.

[2017-08-21 23:59] leonardt commented on #166
@rdaly525 I believe you've resolved this or found a workaround, can you post it here? @phanrahan was having problems getting setup with coreir and the error looked similar.

I have a hunch it has to do with relative paths. If so, we can have the library lookup use the coreir environment variables to find the libraries until we have a set system installation path.

[2017-08-22 00:18] rdaly525 commented on #166
Well I basically cannot reproduce it on my system anymore. (I was screwing up the DYLD_LIBRARY_PATH).

if DYLD_LIBRARY_PATH is set correctly we should not see this error.

[2017-08-22 02:53] leonardt commented on #166
Okay, I will close this issue for now

[2017-08-22 02:53] #166 closed

[2017-08-22 05:48] #157 closed

[2017-08-22 15:23] rdaly525 opened #174 "addPassthrough logic only works with record types"

[2017-08-22 16:47] leonardt opened #176 "[python-bindings] context.get_named_type(namespace, type_name) -> context.named_types[(namespace, type_name)]]"

[2017-08-22 16:48] leonardt opened #177 "[python-bindings] automatically call context.newArgs for config/gen params"
Change
[code]
to
[code]

[2017-08-22 17:03] leonardt opened #178 "[python-bindings] context.G -> context.global"

[2017-08-22 18:55] aniemetz opened #179 "[python-bindings] Fix Readme: pytest needs to be run from base dir"

[2017-08-23 01:35] leonardt opened #180 "[python-bindings] Fill in wireable API"

[2017-08-23 17:18] leonardt commented on #179
Thanks @aniemetz !
I plan to resolve this by reorganizing the Python bindings to live in a separate repository. That will clear up this issue as all the Python related code (source and tests) will be together (rather than having the Python tests with the c/c++ tests as it is now)

[2017-08-25 23:05] rdaly525 opened #187 "Clean up "sel" api for types"

[2017-08-27 15:38] rdaly525 opened #188 "branch instancepass is segfaulting on pytest"
@leonardt , Do you mind taking a look at this after Tuesday?  These are necessary changes for the cgra 1-bit stuff.

[2017-09-01 16:34] leonardt commented on #188
Fixed in d74f91f152fa9e0cfaf525a268539b6b8888ac6a

Was failing due to these changes:
* PE numin -> numdataports
* PE has new genarg numbitports
* reg has new genargs en, clr, rst
* Add ArgBoolGet to C/Python API

[2017-09-01 16:34] #188 closed

[2017-09-08 11:29] rdaly525 commented on #174
This is already fixed.

[2017-09-08 11:29] #174 closed

[2017-09-09 07:34] rdaly525 opened #195 "create pass to remove any unused modules in top dependency graph."

[2017-09-09 17:31] rdaly525 commented on #116
@leonardt let's make this a high priority. This should solve the OS X issues that pat has been experiencing

[2017-09-11 21:36] dillonhuff opened #197 "After running flatten pass on coreir json file the coreir to verilog pass says it has not been flattened?"
I'm trying to generate verilog from coreir json to feed to verilator.

The json file I am experimenting with was generated from a circuit adding 4 32 bit numbers. The original file is:

[code]

When I tried to run the verilog pass directly on this file I got the error:
[code]

As an attempted fix I tried flattening the file first and then running the verilog pass on the flattened json like so:

[c

[2017-09-12 05:34] rdaly525 commented on #197
Sorry this is an issue of a bad error message. What it means is that the type hierarchy has not been flattened. I assume that in verilog you first need to flatten the type hierarchy to be only bits or arrays of bits.

But the main issue is that you do not need to (and should not run) the verilog pass directly. Specifying a ".v" extension will run the appropriate passes for you.

[2017-09-12 17:16] dillonhuff commented on #197
Awesome. That works.

Thanks!

[2017-09-12 17:16] #197 closed

[2017-09-12 21:10] rdaly525 opened #198 "Signedness issue with adding cout to add/sub"
Cout is calculated differently based on if the add/sub is signed or unsigned.

It seems like there are two options for the coreir ops.

1. Change the single add op to be two ops: sadd, uadd (signed, unsigned). This is annoying because it is only relelvent to the cout bit.
2. Have two separate port options: unsigned_cout, signed_cout. You would be allowed to specify either of these ports.

Thoughts

[2017-09-12 21:21] leonardt commented on #198
Could we have a single COUT port and a parameter to the generator that specifies how COUT is calculated?

[2017-09-12 21:24] rdaly525 commented on #198
I think that it what I was trying to say in #2.
genargs for add: {"width" : int, "has_signed_cout": bool, "has_unsigned_cout": bool, "has_cin": bool}

[2017-09-12 21:37] leonardt commented on #198
I think I would vote that case, it seems simpler than splitting it into two primitives. Also, if has_cout=False, then sadd and uadd would be the same which seems unnecessary.

[2017-09-12 21:50] phanrahan commented on #198
I think COUT is the same if you add signed or unsigned numbers. If you sign extend the two numbers, you will get either 2 0's or 2 1's.  When these are added together you get 0, which is added to the carry out.

[2017-09-12 22:08] rdaly525 commented on #198
Hmmm, I guess I am conflating "overflow" with "cout".

Pat have you dealt with signed/unsigned overflow/underflow? This was in response to discussion about saturating math with the CGRA team. People want to add in direct support for overflow/underflow detection in each PE (instead of just a cout)

I guess I could add a non-primitive "add" module that could do overflow/underflow.

[2017-09-12 22:42] phanrahan commented on #198
Overflow is indeed different. That's a good point. I need to generate the overflow flag for my adders in order to get signed comparisons working in mantle. Overflow is typically denoted by V.

How about Add(n, cin, cout, vout).

All combinations are useful!

I can send you the definitions ...

[2017-09-13 07:11] rdaly525 commented on #198
Well since coreir primitives do not have the notion of signed and unsigned types like magma, I will need to have my interface be:

Add(width,has_cin,has_cout,has_signed_vout, has_unsigned_vout), or something similar.

[2017-09-13 13:12] rdaly525 opened #201 "Move Python bindings to their own separate repo"

[2017-09-13 13:13] rdaly525 commented on #32
Some of these are fixed by #200

[2017-09-13 13:15] rdaly525 commented on #115
Fixed in current dev branch

[2017-09-13 13:15] #115 closed

[2017-09-13 14:22] phanrahan commented on #198
there is normally just a single vout.

Remember, the addition circuit is exactly the same for signed and unsigned addition, including the calculation of cout. vout is an optional output flag that assumes the inputs are signed (since it is checking the sign bit (n). But vout can be computed for any numbers. On a CPU, there is a single add instruction that works for signed and unsigned numbers, and

[2017-09-13 16:10] rdaly525 commented on #198
I think I was not clear.

I am saying that I need to choose whether the vout port represents vout as if the inputs were signed or vout as if the inputs were unsigned. To be clear here are some examples;

[code]

This is similar to how I have to have two operations for "less than" (slt, ult).

If I just give it one option for a vout port, it is ambiguous whether it represents the result of a signed

[2017-09-13 16:16] phanrahan commented on #198
They way I suggested is like a conventional ISA. Overflow is meant to indicate signed overflow, even though it is well defined for both signed and unsigned numbers.

cout is the same for both signed and unsigned addition. You use cout when doing multiple precision arithmetic between both signed and unsigned numbers. This is the beauty of two's complement.

vout is only used for comparisons.

[2017-09-13 16:37] rdaly525 commented on #198
Okay I think I understand the confusion. I wanted a single port which represented "This add operation either overflowed or underflowed". In reality for signed integers, **vout** should be used to represent (operation either overflowed or underflowed) whereas for unsigned integers, **cout** should be used to represent (operation overflowed).

I am not sure what you mean that vout is well defined fo

[2017-09-13 16:57] phanrahan commented on #198
I think we are on the same page.

Only thing I would add is the various conditions depend on z, n, c, and v. Here is a table from the ARM ISA docs.

![image](https://user-images.githubusercontent.com/1619443/30390136-f08c056a-9869-11e7-9a1c-99411d1981a1.png)

[2017-09-13 18:00] leonardt commented on #179
#202 and https://github.com/leonardt/pycoreir

[2017-09-13 18:00] #179 closed

[2017-09-13 23:44] leonardt opened #204 "Support for ROMs"
Option 1: Augment the memory primitive to have a readonly genarg, which would then generate a circuit with just the read ports and take a configarg with the memory initialization values

Option 2: Define a separate primitive specifically for ROMs

Thoughts? Other possibilities?

[2017-09-14 01:07] leonardt opened #205 "[dev] JSON output is no longer consistent"
magma/mantle regression tests are no longer working because linux/mac produce different orderings in the JSON outputs (inconsistency in the gold files between locally and on travis)

For our test cases the difference manifests in the ordering of genargs and the ordering of record type fields

[2017-09-14 01:10] leonardt commented on #205
This would become a non-issue once we migrate the magma/mantle tests to use the coreir simulator.  For now I might try using the verilog pass and verilator to run the tests.

[2017-09-14 07:01] rdaly525 commented on #205
Can you send me two files which should be the same but have a different diff?

[2017-09-14 07:07] rdaly525 commented on #204
Lets set up a meeting to talk about memories specifically. I recently made a change where I defined a non-cgra specific Linebuffer Memory. I also have one for a fifo and I have a TODO to make one for a dual ported RAM.

One annoying problem with using xilinx/other IP is that they have a crazy amount of options and it is really difficult to know how to configure them. I would err on the side of mor

[2017-09-14 07:13] #201 closed

[2017-09-14 07:22] rdaly525 opened #207 "Audit all unused coreir branches"
Can you all (@leonardt, @cdonovick, @jeffsetter) tell me if and what branches on coreir you have and would like to keep?

[2017-09-14 08:18] rdaly525 commented on #205
Let me know if it is fixed in dev

[2017-09-14 08:24] #207 closed

[2017-09-14 08:47] rdaly525 opened #210 "tutorials are broken in dev"

[2017-09-14 16:15] leonardt commented on #205
Looks like the ordering of genargs is now consistent, but record type fields are still different.

Here's the failing test on travis: https://travis-ci.org/phanrahan/magma/jobs/275533240 (the gold file was generated locally on my mac)

Gold files: https://github.com/phanrahan/magma/tree/enable-coreir-regressions-tests/tests/test_coreir/gold
Test script: https://github.com/phanrahan/magma/blob/enab

[2017-09-14 16:18] phanrahan commented on #205
Per our recent conversation, I vote for making arguments (and any dictionary including record types) have a well-defined ordering. Hopefully that would help with the JSON.

[2017-09-14 17:26] rdaly525 commented on #205
The likely cause of this is that I have Records being organized by *insertion order*. I did this early on because it is sometimes nice to maintain the order of the ports that were specified by the user.

The easy fix is for me to just sort by key like the rest of the dictionaries. Alternatively, magma could also sort by insertion order.

[2017-09-16 21:20] leonardt commented on #205
Fixed for magma/mantle tests

[2017-09-16 21:20] #205 closed

[2017-09-17 18:43] rdaly525 commented on #187
Fixed in #213

[2017-09-17 18:43] #187 closed

[2017-09-17 18:44] rdaly525 commented on #116
Fixed

[2017-09-17 18:44] #116 closed

[2017-09-17 18:46] rdaly525 commented on #97
Not going to fix

[2017-09-17 18:46] #97 closed

[2017-09-17 19:31] rdaly525 opened #214 "Investigate using shared_ptr for Arg*"
@leonardt, if I did this, I think we could just keep a copy of the shared_ptr around in context for the C API? Or maybe there would be more problems than this.

[2017-09-18 05:05] leonardt commented on #178
`Context.G` is now `Context.global_namespace` - https://github.com/leonardt/pycoreir/commit/ebe9181042a75c7dcaa0aa937117f1dc6b2ac57a

[2017-09-18 05:05] #178 closed

[2017-09-18 16:34] leonardt commented on #176
Closed by https://github.com/leonardt/pycoreir/commit/c3e2de5bf062d1c85dac9507fb2af79bd15c2eed

[2017-09-18 16:34] #176 closed

[2017-09-20 17:42] #214 closed

[2017-09-21 00:14] rdaly525 opened #219 "Add notion of a cgra.reg"

[2017-09-21 01:16] #219 closed

[2017-09-21 12:56] rdaly525 opened #220 "Add ability to call python code (magma) for generators and typegens."
here is a good example of how to pass values  c <-> python. https://stackoverflow.com/questions/3286448/calling-a-python-method-from-c-c-and-extracting-its-return-value

This will probably involve inheriting from TypeGen and GeneratorDef respectively.

[2017-09-21 23:23] rdaly525 opened #221 "Depreciate Static Shift"

[2017-09-23 20:28] rdaly525 commented on #221
fixed

[2017-09-23 20:28] #221 closed

[2017-09-25 18:58] rdaly525 opened #224 "Make all Constructors private"
This forces users to only use factory APIs

[2017-09-25 20:03] rdaly525 opened #225 "Add 0 delay Ram primitive"
Once we have this primitive, I can create default implementations of all other memory types using this primitive. This will be useful for both verilog implementations of memories and for the simulator

[2017-09-25 21:12] rdaly525 opened #226 "Segfault on coreir branch mems"
coreir -i harris.json --load_libs lib/libcoreir-commonlib.dylib -p rungenerators,liftclockports-coreir,wireclocks-coreir -o harris.v

[2017-09-25 21:23] rdaly525 commented on #226
Fixed in Mems branch

[2017-09-25 21:23] #226 closed

[2017-09-25 21:24] rdaly525 opened #227 "Disallow numbers starting instance names or Record names"

[2017-09-25 23:08] rdaly525 opened #228 "Arg and Config changes"
I need to do the following:

- [ ] Change notion of Args to be:
  Value = Const(value)
           |  Arg(string field)
           |  Lambda([](Values genargs, Values configargs)->Const)

- [ ] Define VType (is there a better name? Should this actually be the same as Type?) This will be a container for bool,int,string, Type* meaning valid types to pass through to as configs.
- [ ] Every Value has a

[2017-09-25 23:11] rdaly525 commented on #220
As a concrete task, start by writing a python generator for commonlib.LinebufferMem in terms of coreir.mem.

[2017-09-26 15:55] rdaly525 commented on #225
This is in #229

[2017-09-26 15:55] #225 closed

[2017-09-27 05:24] rdaly525 commented on #228
@leonardt, just as a warning this will be a rather large change that I will probably need help with updating the C api as well as pycoreir

[2017-09-28 06:04] rdaly525 opened #232 "Potentially change syntax for instancing"
Right now only a moduledef can add an instance.

I could do the following:
[code]
Pros:
 - Cleaner and similar semantics to magma (I think)
 - Simpler to understand relationship between generators, modules and instances

Cons:
 - I can have anonymous instances floating around which seems dangerous
 - Module would have to keep around genargs (maybe this is where they should be anyways)

Questions:

[2017-09-28 20:25] leonardt opened #233 "Assertion error in wireclocks-coreir"
[code]

popcount8.json
[code]

[2017-09-29 17:37] leonardt opened #236 "Rename simulator binary"
@dillonhuff @rdaly525 Can we rename the simulator binary to something like `coreir-simulator` so we can install into the system path like the coreir binary? I don't have any strong feelings about the name, but I think something a bit more specific then `simulator` would be good to avoid any name conflicts.

Another idea could be integrate it with the existing `coreir` binary so there's one fronten

[2017-09-29 17:44] leonardt opened #237 "Assertion error in simulator for add with cin"
@dillonhuff Looks like it's failing because `mux` is the only 3-input operation supported. the `add` primitiver has optional `cin` and `cout` ports that will change the type signature.

[code]

test_add_cin_two.json:
[code]

[2017-09-29 17:45] leonardt commented on #233
Fixed by https://github.com/rdaly525/coreir/pull/234, thanks @rdaly525 !

[2017-09-29 17:45] #233 closed

[2017-09-29 22:51] dillonhuff commented on #237
Thanks for letting me know. I'm working on a fix.

From what I see in coreirprims.hpp only add and sub need cin and cout pins. Do other binary operators (like multiplication) need overflow bits as well?

[2017-09-30 18:10] rdaly525 opened #238 "Change Asserts to THROW macro."
If I want stack trace:
https://stackoverflow.com/questions/4636456/how-to-get-a-stack-trace-for-c-using-gcc-with-line-number-information/4732119#4732119

[2017-09-30 18:12] rdaly525 commented on #232
A potentially better way for instances are:
Instance = Module(moduledef, instname, modargs)

[2017-10-03 05:09] rdaly525 commented on #237
I think I merged this in. @leonardt, can you confirm that this bug can be closed?

[2017-10-03 16:22] leonardt commented on #237
Fixed

[2017-10-03 16:22] #237 closed

[2017-10-04 08:15] rdaly525 commented on #198
This is resolved. Only have cout and cin for add.

[2017-10-04 08:15] #198 closed

[2017-10-04 08:21] rdaly525 opened #240 "Simulator segfaulting on "configs" branch"
@dillonhuff, Can you take a look at this?

These were most of the changes I made to the API
[code]

I also made each register initialization value to be a dynamic_bit_vector (which I typedef as BitVector)
I suspect this last one is causing the segfault?

I also notice that when I print out the BitVector values, it seems i have garbage data.

[2017-10-04 19:11] dillonhuff commented on #240
I will take a look.

I do not understand your description of the changes to the api, for example what does:

[code]

mean?

[2017-10-04 19:16] rdaly525 commented on #240
Sorry for not being clear. These were my vim search and replace commands while I was updating the repo haha

For example:

[code]

Would turn into:
[code]

[2017-10-04 19:17] rdaly525 commented on #240
Feel free to stop by my office for any questions about the changes I made.

[2017-10-04 19:18] dillonhuff commented on #240
Yeah I will walk over there now. I just pulled the configs branch and it doesnt even build from scratch when I try it on my machine.

[2017-10-09 21:22] leonardt opened #244 "Flattening issue"
There's an issue in flattening the following circuit where `O` has multiple connections. In this case, there's one bulk connection from the instance.O to the circuit interface, while specific indices (O[3], ...) wired back into the input of the shift register.

[code]

lfsr.json
[code]

[2017-10-10 18:12] rdaly525 opened #246 "simulator test issues"
I commented out the simulator tests in tests/Makefile because there were compile issues

This was due to me remerging dev-> configs

Can you take a look? (in branch configs)

[2017-10-12 18:00] leonardt opened #251 "verilog backend issues"
- [x] parameter signatures need default values for verilator/iverilog
- [x] 1 bit constants are serialized out to True or False instead of 0 or 1
- [x] support const and reg

[2017-10-12 19:01] rdaly525 opened #252 "Update read and write test to use a json file that utilizes *all* types of values"

[2017-10-16 22:56] leonardt opened #259 "Duplicate declaration of coreir_concat in verilog backend [firrtl]"
`Duplicate declaration of module: coreir_concat`

[code]

lfsr.json
[code]

[2017-10-17 03:24] leonardt commented on #259
Fixed by @rdaly525, thanks!

[2017-10-17 03:24] #259 closed

[2017-10-18 19:32] dillonhuff commented on #246
I believe this issue is now fixed. Ross can you confirm and close?

[2017-10-18 19:38] dillonhuff opened #260 "coreir executable cannot find liftclockports or wireclocks?"
git info: I am working on a fork of "dev" as usual.

I am trying to run some of the CGRAMapper examples through the simulator and before I can do that I need to add a clock to the inputs and wire up all sequential elements to the clock.

It looks like the passes liftclockports and wireclocks should do these two tasks for me, but when I try to run them as passes I get an error. For example when I a

[2017-10-18 21:23] dillonhuff commented on #260
Wrong name.

[2017-10-18 21:23] #260 closed

[2017-10-22 01:02] rdaly525 commented on #251
This is all fixed in firrtl branch. Fixed by #263

[2017-10-22 01:02] #251 closed

[2017-10-22 01:02] leonardt opened #264 "Bug in ModuleDef::removeInstanceFromIter"
https://github.com/rdaly525/coreir/blob/master/src/ir/moduledef.cpp#L114-L132

Should check if prev or next are nullptr before updating the map. Also clarify the logic on the case that the instance is the only element.

[2017-10-22 01:02] #246 closed

[2017-10-23 16:43] dillonhuff opened #266 "Generated modules are never inlined?"
I pulled the recent, large changes to dev and fixed most of the problems in the simulator. One problem: it seems that the flatten pass has changed so that instances that were generated from a generator are never inlined.

Specifically it looks like function ```inlineInstance``` always returns false without modifying the graph when ```isGen()``` is True, and ```isGen()``` returns true if the genera

[2017-10-23 17:54] rdaly525 commented on #266
@dillonhuff I just pushed a fix. Can you verify this issue is resolved?

[2017-10-23 18:10] dillonhuff commented on #266
Fixed.

Thanks!

[2017-10-23 18:10] #266 closed

[2017-10-23 18:11] #240 closed

[2017-10-23 18:11] rdaly525 commented on #228
Fixed

[2017-10-23 18:11] #228 closed

[2017-10-23 18:11] dillonhuff opened #267 "Enable mux is not fully wired in linebuffer mem"
Json example where inlined code is not fully connected:

[code]

[2017-10-23 20:26] #107 closed

[2017-10-24 19:50] #137 closed

[2017-10-24 19:50] rdaly525 commented on #133
This is unneeded now

[2017-10-24 19:50] #133 closed

[2017-10-24 19:51] rdaly525 commented on #195
called "cullgraph"

[2017-10-24 19:51] #195 closed

[2017-10-24 19:52] rdaly525 commented on #267
@dillonhuff, this can be closed right?

[2017-10-24 19:53] rdaly525 commented on #11
Closing for now

[2017-10-24 19:53] #11 closed

[2017-10-24 19:53] rdaly525 opened #271 "Create a magma backend"
This should simply be a pass to generated straight line magma code

[2017-10-24 19:56] dillonhuff commented on #267
Yes.

[2017-10-24 19:56] #267 closed

[2017-10-24 22:20] #33 closed

[2017-10-24 22:20] #34 closed

[2017-10-24 22:22] rdaly525 commented on #98
Unneeded for now

[2017-10-24 22:22] #98 closed

[2017-10-24 22:23] rdaly525 commented on #100
Potentially have a generic iterator pattern

[2017-10-24 22:26] #180 closed

[2017-10-24 22:28] rdaly525 commented on #220
partially fixed by #273

[2017-10-25 02:39] rdaly525 opened #274 "Fix simulator warnings"
@dillonhuff, can you fix all the simulator warnings?

I am still confused on why having -Werror does not actually do warnings as errors. It would be nice if we can put in a flag that will absolutely cause a compilation error here.

[2017-10-25 03:35] dillonhuff commented on #274
This was due to me accidentally setting CXX flags in ./src/simulator/Makefile

It has now been changed and I have created a pull request.

[2017-10-25 03:35] #274 closed

[2017-10-25 05:33] rdaly525 opened #277 "Cullgraph should remove empty namespaces"

[2017-10-26 03:51] leonardt opened #281 "Upload a Binary to GitHub Releases"
Let's start releasing coreir. This should speed up any dependent Travis build by enabling them to download a compiled binary instead of having to build from source (except for any branches that tracking a coreir development branch, they will have to still compile that branch from source).

Adding a build and upload step to Travis seems fairly simple. We add some configuration settings to the `trav

[2017-10-26 16:43] leonardt opened #282 "Automatically discover g++-4.9 on linux"
It seems like this is a standard binary name for g++-4.9 that can we try to find on linux if the default g++ version is not compatible.

[2017-10-27 17:38] dillonhuff opened #284 "Error when trying to produce verilog from conv_3_1"
I've gotten the simulator to produce useable output for conv_3_1 from CGRAMapper/examples and now I am trying to generate verilog code to compare it to verilator.

When I try to emit verilog for the original file without running any passes the process works:

[code]

But when I try to first flatten and then wire up clocks so that it is like the coreir processed by the simulator I get an error in v

[2017-10-27 19:06] dillonhuff opened #285 "Error in fileReader.cpp when trying to read json for flattened LinebufferMem"
In the unit tests for the interpreter (./tests/simulator/interpreter.cpp) I construct a LinebufferMem and save it to json:

[code]

The resulting file is:

[code]

When I try to use the coreir binary to write this file to json I get an error message:

[code]

Have you seen this message before? Am I doing something wrong here?

[2017-10-27 20:16] rdaly525 commented on #285
You are not doing anything wrong, I just have not implemented this case. I am going to file a separate issue and will try to fix what I think is the bug.

[2017-10-27 20:17] rdaly525 opened #286 "Update inlining to correctly resolve modargs that have "arg""

[2017-10-27 20:25] dillonhuff commented on #285
Cool. Thanks!

[2017-10-28 15:55] #286 closed

[2017-10-28 15:56] #285 closed

[2017-10-28 15:57] rdaly525 commented on #232
This was partially implemented.

It is annoying to directly do functor-style calling conventions due to everything being pointers though

[2017-10-28 15:57] #232 closed

[2017-10-30 19:32] jeffsetter opened #288 "Generator with Type parameter"
Uncomment CoreirType in context.cpp (and fix any name conflicts) so that generators may have an input type.

[2017-10-31 16:57] dillonhuff opened #292 "ERROR: NYI flatten types of generator or nodef module, for Linebuffer?"
bash-3.2$ ~/CppWorkspace/coreir/bin/coreir -p rungenerators,flattentypes -i ~/CppWorkspace/CGRAMapper/examples/conv_3_1.json -o veri_conv_3_1.json --load_libs ~/CppWorkspace/coreir/lib/libcoreir-commonlib.dylib
In Run Generators
ERROR: NYI flatten types of generator or nodef module
{commonlib.Linebuffer}.out Is not a flattened type!
  Type is: Bit[16][1][3]

Assertion failed: (isBitOrArrOfBits(rpa

[2017-11-01 20:47] rdaly525 commented on #292
@dillonhuff Can you confirm that this is fixed in dev and close the issue?

[2017-11-01 20:48] rdaly525 commented on #288
Closing with the workaround of CoreIRType::make(Context*c)

[2017-11-01 20:48] #288 closed

[2017-11-01 21:12] dillonhuff commented on #292
Yes, this is fixed.

[2017-11-01 21:12] #292 closed

[2017-11-04 20:38] leonardt commented on #281
Thanks for doing this @rdaly525 , travis build times for the master branches of magma and mantle are down to 1~1:30 minutes which is awesome. Here's an example of using this release binary on travis `https://github.com/phanrahan/magma/blob/master/.travis/install_coreir.sh#L25-L30`, the release version number will need to be bumped manually to stay in sync. A good improvement would be to automatica

[2017-11-04 20:38] #281 closed

[2017-11-05 03:55] rdaly525 commented on #244
Should be solved with latest push to dev

[2017-11-05 03:55] #244 closed

[2017-11-06 19:09] jeffsetter opened #305 "Confusing error when selecting from Type*"
// The following code compiles fine:
Type* lb_output = out_type->sel(0);

// confusing error when running is:
terminate called after throwing an instance of 'std::logic_error'
  what():  basic_string::_S_construct null not valid

// solution: you can’t a select an int from a Type*, use a string instead
Type* lb_output = out_type->sel(“0”);

[2017-11-06 23:42] rdaly525 opened #307 "Example coreir -> magma file"
Can you create an example magma file from examples/counters.json ?

Since I am not the most familiar with magma, it will be much easier for me to write a magma backend given an example of a translation.

[2017-11-07 02:40] leonardt commented on #307
@rdaly525 https://github.com/phanrahan/mantle/blob/master/examples/coreir/counters.py produces https://github.com/phanrahan/mantle/blob/master/examples/coreir/counters.json

let me know if you have questions

[2017-11-07 02:40] #307 closed

[2017-11-08 17:13] rdaly525 opened #312 "verifyconnectivity is not always checking clks"
@dillonhuff, were you the one that mentioned this?
Is there an example json which shows this issue?

[2017-11-08 17:14] rdaly525 opened #313 "clks are not being hooked up in conv_1_2"

[2017-11-09 21:41] rdaly525 commented on #313
Fixed by #317

[2017-11-09 21:41] #313 closed

[2017-11-09 22:51] rdaly525 commented on #305
solution would be to add an enable_if to the sel function to get rid of this weirdness

[2017-11-13 16:52] rdaly525 opened #321 "Documentation for Simulator and Interpreter"
@dillonhuff,

I am not sure if you have this already but could you work on some documentation for your work and stick it in doc/.

Installation, how to use, simple example, important APIs, etc...

[2017-12-05 18:11] rdaly525 opened #331 "Enforce unique instance names when adding instance"
Also check the following are each valid strings:
Named type
Instance Name
Module Name
Generator Name
Record key

Valid string is: [a-zA-Z_\-$][0-9a-zA-Z_\-$]*

[2017-12-19 16:54] rdaly525 opened #340 "Fix register inputs pass to only work on the top module"

[2017-12-19 20:44] dillonhuff commented on #340
Just submitted a pull request about this.

[2018-01-03 18:55] dillonhuff opened #344 "Inlining is slow for larger designs"
Inlining an [old version of the 8 x 8 CGRA](https://github.com/dillonhuff/VerilogToCoreIR/tree/master/test/samples/genesis_verif) takes several minutes even though the design is only ~30,000 lines of JSON.

I did some preliminary profiling and it looks like the issue is that inlining passthroughs for complicated interfaces (like the PE tile interface) takes a very long time.

[2018-01-04 02:37] dillonhuff opened #347 "Using "coreir.wrap" on named types "coreir.clk" or "coreir.clkIn" fails"
The code:

[code]

produces the error:

[code]

When rungenerators is run on json containing the toClk0 instance.

The same problem happens when I change to "coreir.clk" instead of "coreir.clkIn". Am I using this primitive correctly?

[2018-01-04 05:28] rdaly525 commented on #347
Just pushed a fix in dev.

You should be using "coreir.clk" for the type in both strip and wrap.

[2018-01-04 05:42] rdaly525 commented on #344
Can you give me instructions on how to run this?

I am guessing I can run `coreir -p flatten` on some json?

[2018-01-04 06:16] dillonhuff commented on #347
The fix worked. I can now run the rtlil generators for the CGRA

[2018-01-04 06:16] #347 closed

[2018-01-04 06:18] dillonhuff commented on #344
@rdaly525 I just added the cgra json to the VerilogToCoreIR repo. The file is [here](https://github.com/dillonhuff/VerilogToCoreIR/blob/master/cgra_top_grouped.json)

run flattening on that file with:

[code]

[2018-01-04 06:22] dillonhuff commented on #344
If you want to generate the json from scratch you should be able to do something like:

[code]

This will build the .so for the generate coreir pass and then run that pass on the samples in the ```test/samples``` directory. The json for the CGRA will be in top.json

[2018-01-05 03:57] rdaly525 commented on #344
I am getting an error:

ERROR: MISSING rtlil.to_bv

It seems to be commented out in the rtlil lib in dev. Could you provide a fix?

[2018-01-05 04:45] dillonhuff commented on #344
Just added a fix for that and created a PR

[2018-01-05 16:25] rdaly525 commented on #344
Turns out that the creating of the json symtables was the reason for it being super slow.

[2018-01-11 01:06] rdaly525 commented on #344
Closing this as there exists a workaround

[2018-01-11 01:06] #344 closed

[2018-01-11 01:06] #340 closed

[2018-01-11 01:07] #305 closed

[2018-01-11 14:39] rdaly525 opened #352 "Releases do not include dylib files"
Need to also build dylib files for the release

[2018-01-17 18:25] leonardt opened #358 "Add a script to run pycoreir/magma/mantle tests on dev->master merges"

[2018-01-19 01:05] #238 closed

[2018-01-22 19:17] rdaly525 opened #361 "Add passing in Modules (and generators) as Generator Arguments"
Still need to be able serialize this parameter

[2018-01-23 23:23] rdaly525 commented on #361
Pull request #362 Adds modules as passable parameters.

[2018-01-26 21:12] David-Durst opened #364 "CoreIR Passing Module As Generator Argument issue"
Not sure that this works. My code is at https://github.com/David-Durst/coreir/blob/aetherling/src/libs/aetherlinglib.cpp#L50. When I use it, I get the following error:

[code]

[2018-01-26 21:24] David-Durst commented on #364
Fixed by https://github.com/David-Durst/coreir/commit/78ac275e19c9b2025d4b21e3215886a0a26cfc1c . Will close this when I merge in the changes.

[2018-01-26 23:21] David-Durst commented on #364
Another bug, see https://github.com/David-Durst/coreir/blob/aetherling/tests/unit/simpleAetherling.cpp for the test,

+ for file in 'build/*'
+ build/simpleAetherling
ERROR: Param type mismatch for: operator (global.mulBy2 vs Module)

0   libcoreir.dylib                     0x00000001094f31c4 _ZN6CoreIR20checkValuesAreParamsENSt3__13mapINS0_12basic_stringIcNS0_11char_traitsIcEENS0_9allocatorIcEEEE

[2018-01-27 01:45] rdaly525 commented on #364
Just fixed with latest push to valuemodule branch

[2018-01-28 00:16] David-Durst commented on #364
I cherry-picked in the commit (see https://github.com/David-Durst/coreir/commits/aetherling) and now I get a segfault when running my tests. The error from the log is:

+ for file in 'build/*'
+ build/simpleAetherling
In Run Generators
ERROR: ./run: line 12: 31451 Segmentation fault: 11  $file
make: *** [test] Error 139

[2018-01-29 00:24] David-Durst commented on #364
The segfault disappears. It may have been old binaries. I'm not sure how that happened, as I was sure to make clean before asking about the segault. My unit test now works.

However, I still can't seem to get my simulator test to work. I now have your test running through a simulator and it works https://github.com/David-Durst/coreir/blob/aetherling/tests/simulator/moduleparamsim.cpp . However, wh

[2018-01-29 02:10] rdaly525 commented on #364
the Module.newModuleDef() function only creates a new module def object based on the module declaration. It does not actually set that definition as the module's definition.

You need to use Module.setDef(ModuleDef*) function to actually get the function set.

[2018-01-29 02:31] David-Durst commented on #364
For some reason, once I add the setDef, i get the below message when I run the executable straight, but I get a different failure when I run it in lldb. I'm investigating further.

+ set -e
+ [[ -n '' ]]
+ ./build/simtests
ALREADY ADDED CONNECTION!
ALREADY ADDED CONNECTION!
ALREADY ADDED CONNECTION!
Module: mapN(operator:global.mulBy2, parallelOperators:4, width:16)
  Type: {'in':BitIn[16][4], 'ou

[2018-01-29 03:21] David-Durst commented on #364
Fixing some of the issues. For some reason, some change I'm making is causing lots of other tests to fail. Do you have any idea why enabling debugging flags or just running make from within the tests/simulator folder would cause many other tests to start failing?

[2018-01-29 03:31] David-Durst commented on #364
Ok, so weird stuff. I cloned a new copy of it and now everything works (after doing the setDef and a few other things).  Two questions:

1. How do I avoid doing this in the future? Its annoying that repeated git checkout and make clean didn't work.
2. https://github.com/David-Durst/coreir/blob/aetherling/tests/simulator/aetherlingSim.cpp#L83 is causing a segfault in the tests. Any idea why? I don'

[2018-01-29 19:49] David-Durst commented on #364
One last error message. If this passes, should be in the clear and then I'll pull request this in.

I'm wiring a bitin to a muxN's selector and but it doesn't appear that the wiring is actually occurring. The below error message shows that self.mergeCur isn't getting wired to mergeMux.in.sel even though I'm doing so on https://github.com/David-Durst/coreir/blob/aetherling/src/libs/aetherlinglib/ae

[2018-01-29 20:19] dillonhuff commented on #364
David,

That is a problem that should be fixed in my version of the interpreter,
but it is not fixed in the version currently in dev.

I will make a pull request that should fix it.

On Mon, Jan 29, 2018 at 11:49 AM, David Durst <notifications@github.com>
wrote:

[2018-01-31 01:54] rdaly525 opened #367 "Segfault in wireable.sel("a.b.c")"
Also Flesh out all of the operation overloads for <ModuleDef,Wireable,Type>.<sel,hasSel>

[2018-01-31 23:59] David-Durst commented on #364
#369

[2018-02-02 22:30] dillonhuff opened #373 "Move the verilog definitions for coreir primitives so they can be included by other applications"
Could we move the [files used to create verilog definitions](https://github.com/rdaly525/coreir/blob/436e4fe920b274e780bf98ad55e1d61df49db6c7/src/binary/coreir.cpp#L13) in the coreir executable to a location in /include where they can be used by other applications?

I'm trying to output verilog programmatically from the partial evaulator. I can do it through the coreir executable, but it would be

[2018-02-02 22:57] dillonhuff opened #374 "Syntax error in verilog definition of zext?"
[I think the verilog definitoin of zext](https://github.com/rdaly525/coreir/blob/436e4fe920b274e780bf98ad55e1d61df49db6c7/src/definitions/coreVerilog.hpp#L46) is missing a pair of curly braces. When I run verilator on it the existing definition causes a syntax error. I think the correct definition is:

[code]

[2018-02-03 01:05] rdaly525 commented on #373
Yeah I can move the src/definitions to include/coreir/definitions.

[2018-02-03 07:22] rdaly525 commented on #374
This should be fixed in dev

[2018-02-03 07:22] #374 closed

[2018-02-07 03:28] rdaly525 commented on #364
@David-Durst Can you confirm that this can be closed?

[2018-02-07 23:56] makaimann opened #379 "Pass "packbitconstants" assertion failure"
I get the following complaint when trying to use the packbitconstants pass:
coreir: wiring_utils.cpp:185: CoreIR::Select* CoreIR::getDriverSelect(CoreIR::Select*): Assertion `false' failed.

In the attached file is a small example that just adds two inputs and produces that failure. I had to use .txt because GitHub didn't like .json but it's a coreir json file.

Thanks!

[adder.txt](https://github

[2018-02-08 00:29] dillonhuff commented on #379
Unfortunately packbitconstants is currently a no-op, so there is no reason to use it anyway.

Do you actually need to pack bit constants into coreir constants? If so I can work on implementing it for real

[2018-02-08 00:30] dillonhuff commented on #379
Also for future reference could you send coreir json files with the .json extension just to keep things clean?

[2018-02-08 00:38] dillonhuff commented on #379
Ah, just read the second paragraph of your message. Thats very strange.

[2018-02-08 06:44] makaimann commented on #379
Yeah, I'm not sure why they only allow certain file extensions.

And don't worry about it -- I don't actually need it. I just noticed the implementation of Mantle's Add with cin which uses a bunch of bit_gnd constants and thought it would be good to pack them. It's not necessary though.

[2018-02-08 21:53] dillonhuff opened #380 "It is possible to create a connection from Bit[1] to Bit?"
@rdaly525 for circuit specialization I'm testing some code that will disconnect a module port (say self.in) from all instances in a module and rewire the connections to a new constant value.

The replacement function [portToConstant](https://github.com/dillonhuff/coreir/blob/fc04c2c7518ed52c89af2503b0ec1ca98560ac31/src/simulator/wiring_utils.cpp#L323) always uses "coreir.const", with width equal t

[2018-02-09 21:47] rdaly525 commented on #380
That definitely should not be legal. Bit[1] != Bit Is it reporting that it works?

[2018-02-09 22:13] dillonhuff commented on #380
Yes. I can run that test case to completion and the result as a coreir json file

[2018-02-09 22:16] dillonhuff commented on #380
*and the json file I copied above is the result

[2018-02-09 23:18] rdaly525 opened #382 "simpleAetherling.cpp test is failing"

[2018-02-09 23:18] rdaly525 commented on #382
@David-Durst, Can you fix this?

[2018-02-12 19:11] rdaly525 commented on #380
@dillonhuff, can you confirm this is resolved?

[2018-02-12 19:12] rdaly525 commented on #379
@dillonhuff is there a bug here?

[2018-02-12 19:12] #361 closed

[2018-02-12 19:12] rdaly525 commented on #358
@leonardt, Any update on this issue?

[2018-02-12 19:17] #321 closed

[2018-02-12 19:17] rdaly525 commented on #282
@leonardt was this resolved? Or is this needed?

[2018-02-12 19:20] rdaly525 commented on #236
I would prefer not to have this in the same binary and to keep this as a separate utility. I do agree about changing the name and including it in coreir releases as a different binary

[2018-02-12 19:23] rdaly525 opened #385 "ALREADY ADDED CONNECTION"
There is a pass that somehow causes this print to show up.
Can be seen using
coreir -i examples/counters.json -o out.v

[2018-02-12 19:32] rdaly525 opened #386 "Consolidate Formal Verif scripts into simple Python script with a requirements.txt"
@cristian-mattarei

[2018-02-12 19:40] rdaly525 commented on #220
@leonardt, What is the state of this issue at the moment?

[2018-02-12 19:41] rdaly525 opened #387 "Change Json format to use an ordered Record type"

[2018-02-12 20:34] rdaly525 commented on #387
#388 Is the PR related to this.

@dillonhuff, @leonardt, unfortunately this change will change any gold json file. saved anywhere. Could both of you regenerate any saved json files? (Sorry, I know this is horribly annoying)

[2018-02-12 20:38] rdaly525 opened #389 "Change all <object>2Str() functions to toString()"

[2018-02-12 20:38] #204 closed

[2018-02-12 20:56] dillonhuff commented on #380
Yes, it is resolved.

[2018-02-12 20:56] #380 closed

[2018-02-12 20:56] dillonhuff commented on #379
No, I just need to implement this pass later if someone needs it

[2018-02-12 20:56] #379 closed

[2018-02-12 21:19] #227 closed

[2018-02-12 21:20] rdaly525 commented on #331
PR is #227

[2018-02-12 22:46] leonardt commented on #282
Not resolved, still need to specify `export COREIRCONFIG="g++-4.9"`to compile on a standard ubuntu flavor (see Travis script). It's not **needed**, but definitely a quality of life improvement for linux users (don't have to pollute their environment with another variable).

You can close it if you don't want to support it, or wait for some linux user to come make the change (I haven't gotten to it

[2018-02-12 22:48] leonardt commented on #220
We can call `typegen` from Python, we can dynamically create and define modules using the magma coreir backend, all we need left is the ability to call a `generator` from Python. This should look pretty much the same as the `typegen` code except instead of receiving a coreir `Type` as the return value, it should receive a coreir `Module`. Basically, we need to add a way to specify a generator func

[2018-02-12 23:00] leonardt commented on #358
Haven't had time to do this, have quite a few things on higher priority right now

[2018-02-13 02:57] #142 closed

[2018-02-13 18:27] #43 closed

[2018-02-13 18:34] rdaly525 commented on #284
@dillonhuff, is this still a bug?

[2018-02-13 18:35] rdaly525 commented on #264
@leonardt, should we fix this? or are there better options for the memory management of C data structures?

[2018-02-13 18:40] rdaly525 commented on #135
@leonardt, is this still an issue?

[2018-02-13 18:40] #177 closed

[2018-02-13 20:45] dillonhuff opened #392 "JSON for register gives init = 0 even when the init parameter is non-zero?"
[This test case](https://github.com/dillonhuff/coreir/blob/misc_and_bitinout/tests/unit/save_register_init.cpp) saves a register with an "init" parameter equal to BitVec(32, 24).

When I save and re-load the module I find that the init value is zero. The JSON file saved on [this line](https://github.com/dillonhuff/coreir/blob/67d62462cab4da7f20634006e5c8c9be8af8a369/tests/unit/save_register_init.c

[2018-02-13 23:37] leonardt commented on #135
Fixed by https://github.com/rdaly525/coreir/compare/dev...patch-COREWireableGetModuleDef?expand=1

[2018-02-13 23:37] #135 closed

[2018-02-14 05:29] dillonhuff opened #395 "BitVector::to_type fails for int64"

[2018-02-14 05:35] rdaly525 commented on #392
This is due to #395 . The fix will be to serialize bitvectors as strings. This will be implemented in bsim

[2018-02-14 16:42] rdaly525 opened #398 "Simtests fail on adding duplicate connections"

[2018-02-14 16:43] rdaly525 commented on #398
In branch connbug (#397) I changed duplicate connections to be errors instead of warnings. @dillonhuff, some of your simtests are now failing due to this. Can you take a look?

[2018-02-14 16:44] rdaly525 commented on #392
Closing

[2018-02-14 16:44] #392 closed

[2018-02-14 16:44] rdaly525 commented on #389
Fix in #390

[2018-02-14 17:57] rdaly525 opened #399 "Update verilog generator to support connecting inouts"

[2018-02-14 17:58] rdaly525 commented on #385
Will be fixed by #397

[2018-02-14 22:41] rdaly525 opened #401 "Investigate Arrays of params as a possible param type"

[2018-02-15 06:33] David-Durst commented on #382
https://github.com/rdaly525/coreir/pull/404 fixes this issue. Please don't merge until I've also addressed the issues in https://github.com/rdaly525/coreir/pull/397#issuecomment-365823031.

[2018-02-15 06:59] David-Durst commented on #382
Nevermind, go ahead and merge https://github.com/rdaly525/coreir/pull/404. I have ttps://github.com/rdaly525/coreir/pull/405 to fix https://github.com/rdaly525/coreir/pull/397

[2018-02-15 16:45] rdaly525 opened #406 "Segfault when I constify ModuleDef.getInstances()"
in moduledef.h:
when I change:

`    std::map<std::string,Instance*> getInstances(void) { return instances;}`

to

`    const std::map<std::string,Instance*>& getInstances(void) const { return instances;}`

I get segfaults.

[2018-02-16 12:22] rdaly525 commented on #398
fixed by #397

[2018-02-16 12:22] #398 closed

[2018-02-16 12:23] #385 closed

[2018-02-16 12:23] #331 closed

[2018-02-20 18:50] #382 closed

[2018-02-20 18:50] rdaly525 commented on #352
Fixed by #409

[2018-02-20 21:14] rdaly525 opened #411 "Make all class constructors private"

[2018-02-20 21:23] rdaly525 opened #412 "Move TODOs in code to github issues"

[2018-02-20 21:24] rdaly525 opened #413 "Add freeBSD License"

[2018-02-20 21:24] #32 closed

[2018-02-21 08:01] #389 closed

[2018-02-21 08:01] #387 closed

[2018-02-21 18:16] rdaly525 commented on #413
#415

[2018-02-21 18:16] #413 closed

[2018-02-21 18:39] rdaly525 opened #417 "Add doc to describe each coreir primitive"

[2018-02-21 18:42] #109 closed

[2018-02-21 18:43] #252 closed

[2018-02-21 18:44] rdaly525 opened #418 "Create a test suite for coreir binary"
This test suite should just be a script that will read in all the examples/*.json files, run passes on them, and output to different file formats.

[2018-02-21 20:38] rdaly525 opened #419 "clean up coreir binary"
- [x] Allow passing in libraries by name
- [x] Verify .so loading works

[2018-02-21 21:35] rdaly525 commented on #419
Checks likely paths for libraries by default

[2018-02-21 22:11] rdaly525 commented on #367
Cannot reproduce

[2018-02-21 22:11] #367 closed

[2018-02-22 17:21] leonardt opened #421 "Rework c-api memory model"
For routines involving the creation of arrays (e.g. for passing a map as an array of keys and values), we should either:

- (a) have the user pass in the allocated array (so they'll need to call another API function to get the size of the array they should allocate). Then the user would be explicitly responsible for freeing the memory
- (b) define a calling convention such that it's the user's res

[2018-02-22 17:23] leonardt commented on #113
Moving this to pycoreir

[2018-02-22 17:23] #113 closed

[2018-02-23 00:48] rdaly525 commented on #421
I like (b) a bit better. I think this is what LLVM does for their C api, although I will need to confirm

[2018-02-23 00:48] #419 closed

[2018-02-23 01:39] leonardt commented on #421
Makes sense to me

[2018-02-23 03:03] rdaly525 commented on #406
Same thing if I change Wireable.getConnectedWireables()

[2018-02-23 16:13] rdaly525 opened #423 "debug simulator test failures"
This is in relation to PR #422

[2018-02-23 16:13] rdaly525 opened #424 "memories.rowbuffer is producing different values from Halide"

[2018-02-23 22:09] dillonhuff commented on #423
This should be fixed by [this PR](https://github.com/rdaly525/coreir/pull/425)

[2018-02-23 23:45] #423 closed

[2018-02-23 23:45] rdaly525 commented on #406
Fixed by #422

[2018-02-23 23:45] #406 closed

[2018-02-24 01:44] dillonhuff opened #427 "deletedeadinstances needs to check for inouts as well as outputs"

[2018-02-25 15:17] rdaly525 opened #429 "Add ability to connect directly to bitvectors (in API or json)"
This will inherently add a new constant instance so the underlying representation will not actually change, so this is more syntactic sugar than anything.

[2018-02-25 18:33] rdaly525 opened #430 "Simulator does not support coreir.wire"
This is essentially a nop but can be useful in designs.

[2018-02-26 01:28] dillonhuff commented on #430
Changed in PR 432

[2018-02-26 02:41] rdaly525 commented on #430
Merged!

[2018-02-26 02:41] #430 closed

[2018-02-26 17:25] rdaly525 opened #433 "Add new typegen construction api to easily paramterize by array width"
This would be integrating my typelang work from the summer

[2018-02-26 17:46] rdaly525 opened #434 "Primitive name changes"
For consistency and clarity:

- [x] corebit.dff -> corebit.reg
- [ ] corei*.regrst -> reg_arst

[2018-02-26 18:20] rdaly525 opened #435 "Auto generate primitive documentation"
This is slightly impossible currently due to TypeGens being non-introspectable other than just running it.

Options:
-Just run TypeGen with one (ore more) set(s) of parameters (like width=13). This will provide a decent approximation of what the type function is
-Wait till issue #433 gets completed and then do actual introspection on the TypeGen.

[2018-02-26 18:23] rdaly525 opened #436 "Add 'x' (unknown value) as possible value to BitVec"

[2018-02-26 18:26] rdaly525 opened #437 "CoreIR support for yosys "shiftx" and "dffsr""
@dillonhuff TODO
Can you find and describe the exact semantics (and interface) of shiftx and dffsr?

From that we can explore options of supporting them

[2018-02-26 18:28] rdaly525 commented on #312
Closing, as I can not reproduce

[2018-02-26 18:28] #312 closed

[2018-02-26 18:28] rdaly525 commented on #386
@cristian-mattarei any update on this?

[2018-02-26 18:36] cristian-mattarei commented on #386
I am working on a separate tool called CoreIR Symbolic Analyzer (https://github.com/cristian-mattarei/CoSA).

It is based on pySMT and PyCoreIR, and it currently supports:
- simulation
- safety verification
- equivalence checking
- deterministic check for transition systems

[2018-02-26 18:36] rdaly525 opened #438 "Change default init for coreir.reg and corebit.reg to 'x'"
Dependent on #436

[2018-02-26 18:59] rdaly525 opened #439 "Context.runPasses() is a little confusing with default namespaces"
Either clarify in documentation, or change the default to do something more natural

[2018-02-26 19:09] rdaly525 commented on #386
Great! I would love to see a demo of this

[2018-02-26 20:05] David-Durst opened #440 "self.clk not being wired by wireclocks pass"
Running the test at https://github.com/David-Durst/coreir/blob/aetherlingMultipleParallelism/tests/simulator/aetherlingHelpersSim.cpp#L151 produces the following line when trying to run the simulator (note: 0,1,2,3 are me printing out iterator):

0
Select self.clk is not set in self.clk
Cannot execute because 1 input(s) are not set:
	self.clk
1
Select self.clk is not set in self.clk
Cannot execute

[2018-02-26 21:47] rdaly525 opened #441 "simulator does not support coreir.term/ corebit.term"
This is even more of a noop than coreir.wire you should just simply ignore it.

In general I want to make sure that everything from coreir/corebit is supported.

[2018-02-26 22:07] rdaly525 opened #442 "Add a set of simulator primitives to coreir"
This would exist as non-synthesizable modules whose semantics are interpretable by the simulators, but are always passive (not affecting the circuit)

One obvious module would be an assertion module. The simulator would interpret it as always needing to be true.

Perhaps print modules, or watchpoint modules too?
@dillonhuff, @leonardt any thoughts on this?

[2018-02-26 22:19] rdaly525 commented on #440
This was determined to be not a bug.

[2018-02-26 22:19] #440 closed

[2018-02-26 22:25] rdaly525 opened #443 "Flattening large designs has bad performance"
Flattening the 16x16 CGRA currently takes ~6 minutes

[2018-02-27 06:04] leonardt commented on #220
Minimal working examples of this can be found at
https://github.com/leonardt/pycoreir/commit/6073db4d0abb68b57dada196f57769defdfb904b
https://github.com/leonardt/pycoreir/commit/663dae07928aadbbbdbd11f782da826a73330460

Closing this now, we can open more specific issues to be tracked (probably over at pycoreir or magma)

[2018-02-27 06:04] #220 closed

[2018-02-27 07:46] dillonhuff commented on #436
@rdaly525  see PR 445

[2018-02-27 07:46] dillonhuff commented on #427
Fixed.

[2018-02-27 07:46] #427 closed

[2018-02-27 08:04] dillonhuff commented on #441
See PR 445

[2018-02-27 16:54] rdaly525 commented on #441
Fixed by #445

[2018-02-27 16:54] #441 closed

[2018-02-27 16:55] rdaly525 commented on #436
Fixed by #445

[2018-02-27 16:55] #436 closed

[2018-02-27 18:22] rdaly525 commented on #438
Fixed by #446

[2018-02-27 18:22] #438 closed

[2018-02-27 23:51] rdaly525 opened #447 "Update coreir.mem to include byte (or bit) wen"
@dillonhuff Definitely per *bit* enables? Just looking at the xilinx block rams, they seem to only support per *byte* enables.

[2018-02-28 01:24] David-Durst opened #448 "Simulator Should Clearly And Forcefully Complain When Improperly Setup"
I've had a lot of problems writing tests where I set the clock wrong or hadn't run the right passes. The error messages I got from the simulator were somewhat cryptic:

1. "Assertion failed: (inSels.size() == 2), function updateRegisterValue, file interpret.cpp, line 1360." when correct flatten passes hadn't run
2. "self.valid cannot be found" when I hadn't setup the simulator correctly by calling

[2018-02-28 07:03] David-Durst opened #449 "VerifyConnectivity not catching unconnected port"
commonlib's serializer has a count port (https://github.com/David-Durst/coreir/blob/aetherlingMultipleParallelism/src/libs/commonlib.cpp#L1435)

I use serializer in my streamify (https://github.com/David-Durst/coreir/blob/aetherlingMultipleParallelism/src/libs/aetherlinglib/aeStreamifyArrayify.h#L56) but I never connect the count port to anything.

My streamify is used in a test that runs the veri

[2018-02-28 14:48] rdaly525 commented on #449
It looks like you are running verifyconnectivity-onlyinputs. count is an output port. So this is completely valid. If you want to verify the connectivity of both inputs and outputs, use verifyconnectivity

[2018-02-28 18:15] David-Durst commented on #449
I also use verifyconnectivity as the last pass.

[2018-02-28 18:34] rdaly525 opened #450 "initialize to x is broken for BitVec"
BitVector(c,16,'x') for some reason makes an 8. How do I initialize to 16 bits of x?

[2018-02-28 22:23] rdaly525 opened #451 "Change coreir.mem to have the following semantics"
Genargs:
  width : int
  depth : int
  num_read_ports : int
  num_write_ports : int
  num_readwrite_ports : int
  has_init : bool

Each read port will contain:
  raddr[awidth]
  rdata[width]

Each write port will contain:
  waddr[awidth]
  wdata[width]
  wen[width]

Each ReadWrite port will contain:
  addr[awidth]
  rdata[width]
  wdata[width]
  wen[width]

The behavior will be each read port is 0

[2018-02-28 22:23] rdaly525 opened #452 "Change current simulator coreir.mem to have semantics of read before write instead of read after write"

[2018-03-01 00:12] dillonhuff commented on #450
Could you link to an example of this that I could run?

[2018-03-01 01:37] dillonhuff commented on #452
Just to clarify: In [this test of simultaneous read and write to one memory location](https://github.com/dillonhuff/coreir/blob/85d22985d93f716b8bf53bb92c6cd05e2007085a/tests/simulator/interpreter.cpp#L1089-L1100) on [this line](https://github.com/dillonhuff/coreir/blob/85d22985d93f716b8bf53bb92c6cd05e2007085a/tests/simulator/interpreter.cpp#L1099) would you like the value of ```self.getBitVec("se

[2018-03-01 05:30] rdaly525 commented on #452
I think it should be 23. You are setting the write value, then causing a rising edge of the clock, then checking the read value. If you checked the value of self.read_data before the execute statement, it should be 0.

[2018-03-01 21:47] dillonhuff commented on #452
Maybe we misunderstood each other yesterday. That is what the memory currently does.

I have added [some more tests](https://github.com/dillonhuff/coreir/blob/244adc8bfbad2dca3c3261bc23be7222eaed73d9/tests/simulator/interpreter.cpp#L1091-L1110) that show that memory read is combinational (changing raddr changes rdata on each execute call, regardless of whether a high clock edge arrived).

Could yo

[2018-03-06 08:13] dillonhuff opened #457 "CoreIR -> Verilog conversion needs to support wrap nodes"
```coreir.wrap``` has parameters that are types, and ```VModule::toConstString``` crashes when trying to convert CoreIR that contains wrap nodes to verilog.

[2018-03-06 08:36] dillonhuff commented on #448
Error message 1. no longer exists due to a simulator refactor.

RE error message 2: In my opinion "self.valid cannot be found" is a clear and forceful complaint. That error originates in [a utility function](https://github.com/rdaly525/coreir/blob/d53a8c4f1a5a20b8ca9070ccafdde34dfab80f74/src/simulator/interpret.cpp#L566) that looks up select values. The function is used internally by the interpret

[2018-03-06 21:20] rdaly525 commented on #448
@dillonhuff, For Error message 1, I am guessing this is going to be in the next PR? Because I am still seeing it for some stuff I am doing in dev.

[2018-03-07 06:14] rdaly525 opened #458 "Add linebuffer tests to interpreter test suite"

[2018-03-07 06:14] rdaly525 commented on #458
@shacklettbp, we should also definitely test this in the jit simulator

[2018-03-07 06:31] rdaly525 opened #459 "rowbuffer changes causes issue in simulator tests"
@dillonhuff,

Do you mind taking a look at the branch 'rowbuf'? The simulator is saying that there is an error, but it is not reporting where it is happening. I am not sure how to debug this. This is very much blocking CGRA process for Jeff.

[2018-03-07 20:16] rdaly525 commented on #459
Some more details.
On line 1133 of interpreter.cpp, in order to make my test pass I need to call exeCombinational() one additional time. This seems like incorrect behavior.

[2018-03-07 20:21] rdaly525 commented on #459
I suspect the interpreter is not updating all the signals through the combinational path of memories during exeCombinational(). Specifically "<raddr driver> -> mem.raddr -> mem.rdata -> <thing driven by rdata>"

[2018-03-07 23:35] rdaly525 opened #461 "Prepend namespace always in verilog translation"

[2018-03-08 00:24] #452 closed

[2018-03-08 00:26] rdaly525 commented on #459
Fixing this with PR #460 For now by just simply always calling exeCombinational() twice. I am still keeping this as a bug that needs to be fixed though.

[2018-03-08 03:26] rdaly525 opened #464 "Seeing a segfault when running mapper/examples/gaussian.json"
Looks like it is segfaulting somehow on creating consts.

[2018-03-08 03:27] rdaly525 opened #465 "Enable option for valgrind testing to catch any memory leaks"
Closing this. Will be tracked in #474

[2018-03-08 15:50] rdaly525 commented on #450
The solution to this is to create a string of 'xxxxx' where the number of xs is equal to the length of the bitvector.

[2018-03-08 15:50] #450 closed

[2018-03-08 17:29] leonardt opened #467 "Test issue for slack notification"
This is a test

[2018-03-08 17:29] #467 closed

[2018-03-08 17:57] #459 closed

[2018-03-08 17:58] rdaly525 opened #469 "exeCombinational() needs to be called twice to deal with memories"
A simple failure case is the mem.rowbuffer test in simulator/interpreter.cpp

[2018-03-09 00:32] dillonhuff commented on #469
What branch is that failing case in?

[2018-03-09 01:28] rdaly525 commented on #469
master

[2018-03-09 01:45] leonardt opened #470 "`coreir.neg` unsupported in interpreter"
[code]

Steps to reproduce:
[code]

[2018-03-09 01:58] leonardt commented on #470
Also, `coreir.udiv`, `coreir.urem`, `coreir.sdiv`, `coreir.srem`, and `coreir.smod`

[2018-03-12 16:23] leonardt opened #471 "Assertion failure in interpreter, possibly nested arrays?"
[code]

Produces the following output when calling `state->execute();`
[code]

Suspect nested arrays are the issue? @shacklettbp @dillonhuff any insight?

[2018-03-12 16:56] rdaly525 commented on #471
I suspect that this is because the interpreter requires flattened types. You have to call the "flattentypes" pass in order to use the interpreter.

@dillonhuff, perhaps always calling "verifyflattenedtypes" pass during initialization of the interpreter would help prevent these issues.

[2018-03-12 17:20] leonardt commented on #471
Makes sense. I can close this unless we plan to eventually support the ability to have non-flattened types? In that case, we can keep it open to track that feature.

[2018-03-13 20:59] rdaly525 opened #474 "Add nightly Travis Cron Job"
Enable valgrind testing for all unit tests in this cron job.

[2018-03-13 21:03] #465 closed

[2018-03-13 21:03] rdaly525 commented on #464
Fixed by #473

[2018-03-13 21:04] rdaly525 commented on #448
@David-Durst, Can this be closed?

[2018-03-13 21:05] rdaly525 commented on #424
Fixed from #460

[2018-03-13 21:05] #424 closed

[2018-03-13 21:06] #352 closed

[2018-03-13 21:14] #448 closed

[2018-03-14 16:17] rdaly525 commented on #471
I am going to close this and move it to a new bug.

[2018-03-14 16:17] rdaly525 opened #476 "Investigate supporting non-flattened types in the interpreter"

[2018-03-14 16:17] rdaly525 commented on #471
Tracked in #476

[2018-03-14 16:17] #471 closed

[2018-03-15 07:52] dillonhuff commented on #470
coreir.neg is fixed in #477

[2018-03-15 16:15] leonardt commented on #470
@dillonhuff Do you want me to open up a separate issue for `coreir.udiv`, `coreir.urem`, `coreir.sdiv`, `coreir.srem`, and `coreir.smod`? Or we can just keep this one open for them

[2018-03-15 21:25] dillonhuff commented on #470
@leonardt it would be good if you could open a separate issue for those.

Is implementation of them needed now?

[2018-03-15 21:28] leonardt commented on #470
@dillonhuff not needed now by me, they just failed in my unit tests for the primitives (since they weren't there), but I can wait to merge those tests in until the implementation is ready (and needed)

[2018-03-15 21:28] #470 closed

[2018-03-15 21:29] leonardt opened #478 "Unsupported primitives in interpeter"
- [ ] `coreir.udiv`
- [ ] `coreir.urem`
- [ ] `coreir.sdiv`
- [ ] `coreir.srem`
- [ ] `coreir.smod`

[2018-03-15 22:34] dillonhuff opened #479 "Add posedge vd negedge reset parameter to regrst"
This is needed to translate the CGRA verilog into coreir correctly

[2018-03-15 22:34] dillonhuff commented on #479
@rdaly525

[2018-03-16 01:05] rdaly525 commented on #479
This is tracked by #480

[2018-03-16 01:10] rdaly525 opened #482 "Add support for negedge clks on async resets"

[2018-03-16 01:32] rdaly525 commented on #479
This should be fixed now

[2018-03-16 01:32] #479 closed

[2018-03-16 01:32] rdaly525 opened #483 "No support for a generated module as the top module"
I think I am going to just disallow this. That is the behavior for C++. Keeping it open to create a better error message.

[2018-03-16 01:37] rdaly525 opened #484 "Add the concept of a Module (Software/LLVM module)"
This is a good first step towards more standard linking.

@leonardt, @phanrahan, any thoughts on a good name for this? I have already used the keyword "Module".

[2018-03-16 03:30] rdaly525 commented on #483
Fixed by #486

[2018-03-16 03:30] #483 closed

[2018-03-16 04:31] rdaly525 commented on #449
@David-Durst, was this resolved?

[2018-03-16 05:27] rdaly525 commented on #482
Fixed by #487

[2018-03-16 05:27] #482 closed

[2018-03-16 05:28] #464 closed

[2018-03-16 05:28] rdaly525 commented on #447
Tracked by #451

[2018-03-16 05:28] #447 closed

[2018-03-16 05:29] rdaly525 commented on #437
This was a bug in the verilog code coming in. Not planning on supporting these currently.

[2018-03-16 05:29] #437 closed

[2018-03-16 05:31] rdaly525 commented on #417
Tracked by #435

[2018-03-16 05:31] #417 closed

[2018-03-16 06:03] rdaly525 opened #488 "Separate c api into separate repo"

[2018-03-16 15:25] leonardt commented on #358
Here's a script I have to run all the tests

[code]

Here's a script I have to open PRs to track the coreir PR
[code]

These could be improved, but is there a place I should actually check them in? They're at least documented in this issue now, but not sure where they would really belong

[2018-03-16 15:31] leonardt commented on #488
Depends on https://github.com/rdaly525/coreir/issues/421

[2018-03-16 16:37] rdaly525 commented on #358
This is great! Can you put it in tools/.

[2018-03-16 20:09] rdaly525 opened #490 "Simulator support for posedge/negedge clk/arst"
Recent changes included a parameter into <coreir,corebit>.<reg,reg_arst> to specify polarity of clk and arst (asynchronous reset). This should parameter should be checked for in simulation.
@shacklettbp, this might affect you as well.

[2018-03-16 20:16] #439 closed

[2018-03-16 20:25] rdaly525 commented on #386
closing this as there is a separate repo.

[2018-03-16 20:25] #386 closed

[2018-03-16 20:27] rdaly525 commented on #284
Just checked and I can produce verilog for this example.

[2018-03-16 20:27] #284 closed

[2018-03-16 20:28] #373 closed

[2018-03-16 21:06] rdaly525 commented on #277
Decided that it should not. Lots of issues pop up if I remove the namespaces.

[2018-03-16 21:06] #277 closed

[2018-03-16 21:07] rdaly525 opened #492 "Add options for importing "memory", "mantle" and any other primitive extension."
Also do not delete any of these extensions in cullgraph.

[2018-03-20 16:08] rdaly525 opened #494 "Create mini expression language for symbolic type generation"
[code]

[2018-03-20 16:12] rdaly525 commented on #494
@leonardt, want to do a mini design review of this with me some time this week? The goal is to create a very simple Type language which can be stored/executed symbolically (and therefore serializable). This could alleviate the need to run python code for typegens.

[2018-03-20 16:39] rdaly525 commented on #494
http://www.drdobbs.com/cpp/the-spirit-parser-library-inline-parsing/184401692

If I wanted to actually have a parseable language, this seems like a great C++ tool to do it. This way I could simply pass around the typegen as a string representing the code.

[2018-03-20 22:34] dillonhuff opened #495 "Verilog for reg does not have "coreir_" appended to it"
@rdaly525 When I print out verilog for coreir primitives I have a reg primitive that looks like so:

[code]

This causes a problem since "reg" is a reserved keyword in verilog

[2018-03-21 16:11] rdaly525 commented on #494
Here is a small example of how I would imagine creating this in coreir.

[code]

[2018-03-21 16:12] rdaly525 commented on #494
Also here is an example of some potential future syntax for the language itself.

[code]

[2018-03-21 18:54] rdaly525 opened #498 "reg_arst does not have a reset?"

[2018-03-21 20:23] rdaly525 commented on #498
@cristian-mattarei can you confirm if this is still an issue?

[2018-03-21 20:25] rdaly525 commented on #495
Fixed by #499

[2018-03-21 20:25] #495 closed

[2018-03-21 20:27] cristian-mattarei commented on #498
The reg_arst has a signal called arst. I had to update the dictionary of the possible parameters/ports in the verification tool to consider also "arst". This is not an issue anymore.

[2018-03-21 22:35] #498 closed

[2018-03-22 15:22] leonardt commented on #358
Resolved by https://github.com/rdaly525/coreir/pull/501

[2018-03-22 15:22] #358 closed

[2018-03-23 18:08] rdaly525 opened #503 "Move libs/cgralib into mapper"
pull request #511

[2018-03-23 23:23] rdaly525 opened #506 "Change corebit to have bitvector for register and const"

[2018-03-26 05:39] rdaly525 opened #509 "Add some documentation in the C API about what values are malloc'd/need to be freed by the user"

[2018-04-16 01:49] leonardt opened #515 "JSON serialization ordering no longer consistent"
Seems to have been a regression in terms of output files being consistent between runs, I suspect from https://github.com/rdaly525/coreir/pull/514

To reproduce using pycoreir when on coreir's dev branch
[code]
Running pytest multiple times will yield occasional failures when comparing the output `.json` files to gold files.

[2018-04-16 15:54] rdaly525 commented on #515
Lenny, do you know if it is inconsistent with instance order, connections order, connection pair order, or all three?

[2018-04-16 17:47] leonardt commented on #515
Looks like connections in my tests

Output of 1 run
[code]

Output of another
[code]

[2018-04-16 17:48] leonardt commented on #515
In another case, it's connection pair order

Output of one run
[code]

Output of another
[code]

[2018-04-16 19:34] rdaly525 commented on #515
Great, thanks I will try to fix today.

[2018-04-17 17:45] rdaly525 commented on #515
@leonardt Are you still seeing an issue? Or can this be closed

[2018-04-18 15:46] leonardt commented on #515
Latest travis build for pycoreir fails https://travis-ci.org/leonardt/pycoreir/builds/367388218 after https://github.com/rdaly525/coreir/pull/517 was pulled. It looks like an issue with the ordering of the connections. I can reproduce it locally on `pycoreir` with the occasional failure (the two connections are occasionally swapped)

[code]

[2018-04-18 15:47] leonardt commented on #515
Just re-ran the travis build I linked to make sure it's still happening

[2018-04-19 22:47] leonardt commented on #515
Fixed, thanks!

[2018-04-19 22:47] #515 closed

[2018-04-21 21:15] David-Durst opened #522 "Simulator Issue (either bug or uninterpretable error message): inConns.size() == 1"
I get the below issue when running the test https://github.com/David-Durst/aetherling/blob/debuggingCoreIR/tests/test_partition.py with width / parallelism (lines 16 and 17) not equal to 2. The test passes if it is equal to 2. I believe all the connections are right because the graph is passing the verifyconnectivity-noclkrst pass and because I've hard errors with this message before. The flattene

[2018-04-22 01:14] dillonhuff commented on #522
This should be fixed by #523

[2018-04-22 01:38] David-Durst commented on #522
Yes it does, thanks!

[2018-04-22 01:39] #522 closed

[2018-04-23 00:09] David-Durst opened #524 "Can't Find Item In Symbol Table."
I get the below error when I do https://github.com/David-Durst/aetherling/blob/debuggingCoreIR/tests/test_map.py#L85 even though instance inst2$inst1$inst1 is clearly in the symbol table at https://github.com/David-Durst/aetherling/blob/debuggingCoreIR/tests/test_map_flattened.json.test (Note: the file is massive, I can't really get around in it in chrome, but you can clearly see that the file con

[2018-04-23 17:34] rdaly525 opened #525 "Create a new definition file for memories/mantle that is separate from the library declaration file"

[2018-04-23 17:59] #434 closed

[2018-04-24 00:09] rdaly525 opened #526 "Look into creating nested namespaces"
Everything would always just be nested from global

[2018-04-24 01:58] makaimann opened #527 "Fold Constants pass produces incorrect values"
This issue came up when using fold constants on a partially configured PE tile. Taking the and reduce of all zeros gets folded to the constant "true". I've shrunk the module down to be more readable, using only the modules which were incorrectly replaced. I haven't experimented with different combinations of andr/orr yet, so I don't know if it's the fact that they're connected that causes the prob

[2018-04-24 02:07] makaimann commented on #527
Oh you know what, I didn't see the issue the first time I looked at the fold-constants pass, but on a second look I found it. It's a simple fix. I filed a pull request: https://github.com/rdaly525/coreir/pull/528

[2018-04-24 07:50] dillonhuff commented on #527
Good catch!

So do we still need to meet tomorrow or is this resolved?

[2018-04-24 17:02] makaimann commented on #527
Nope, we don't need to meet. It's resolved. Thanks though!

[2018-04-24 17:02] #527 closed

[2018-05-09 16:08] rdaly525 opened #534 "A few header files still have header includes"
In general any .h file should only include 'fwd_declare.h' for the forward declaration of any class that is used along with any .h file which contains classes in which the current file is inheriting from.

[2018-05-11 14:55] rdaly525 commented on #526
This will be tracked by the branch 'nest'

[2018-05-11 15:55] rdaly525 opened #536 "Add json-schema for CoreIR"
Looks like there is a couple of C++ schema validators for this:

https://github.com/tristanpenman/valijson

[2018-05-16 22:31] rdaly525 opened #537 "Printer pass only works once."

[2018-05-21 21:37] David-Durst opened #543 "Generators Not Running And CLI Not Loading Dylib"
When I run the test at https://github.com/David-Durst/aetherling/blob/master/tests/test_serializer.py#L12-L40, the test fails because the generators aren't being run and then verifyconnectivity-noclkrst on line 40 doesn't know how to handle the generators. I have uploaded the files pre and post generators to show this. The are test_serializer_*.txt (renamed from .json for uploading here). Also, se

[2018-05-24 05:19] rdaly525 opened #546 "Remove the concept of a 'name gen'"

[2018-05-25 19:56] David-Durst commented on #524
@dillonhuff can you look at this?

[2018-05-26 23:10] dillonhuff opened #548 "coreir distribution crashes when I try to use it?"
@rdaly525 I've been experimenting with a JIT specializer for the CGRA in coreir.

I'm trying to benchmark it on kiwi and would like to get it building on travis so that I can debug linux compilation problems before running on kiwi (which is a pain to use via ssh from my mac).

I'm trying to download coreir as one of the dependencies. I can download the tarball, unpack it, and install coreir, but w

[2018-05-27 00:17] leonardt commented on #548
I think the issue is that your `cmake` command is finding/using gcc 4.8. If we inspect the output of the cmake command we see
[code]

One work around for this is if you want to point CMAKE to a specific compiler, you can try
[code]
or you can try
[code]

[2018-05-27 00:18] leonardt commented on #548
When compiling your project, it tries pulls in the `/usr/include/coreir/ir/json.h` header file which has a gcc version requirement

[2018-05-27 03:35] dillonhuff commented on #548
I tried the CMake change and it worked. Thanks!

[2018-05-27 03:35] #548 closed

[2018-05-29 21:37] rdaly525 opened #549 "Add ability to pass flags into passes"

[2018-06-05 22:05] dillonhuff commented on #524
The line in the testbench link is just a comment. Could you send an up to date link to the line where the crash happens?

[2018-06-05 22:30] dillonhuff commented on #524
Is the value you are setting during the crash a port of the top level module under test? Setting a wire value that is not an input is pointless (and therefor not allowed) because the set value will be erased on the next evaluate call anyway.

[2018-06-05 22:51] dillonhuff commented on #524
The behavior of the testbench itself was illegal. You cannot set internal wires in the simulator since that would make the internal state of the circuit inconsistent. I have added a more precise error message than the one that was there before.

[2018-06-08 21:16] #524 closed

[2018-06-18 15:34] rdaly525 commented on #543
@David-Durst, was this fixed?

[2018-06-18 15:37] #503 closed

[2018-06-18 16:04] rdaly525 commented on #492
These should just be default installed libraries with CoreIR.

[2018-06-19 16:14] rdaly525 opened #557 "Restructure serialization passes into a common pass kind"

[2018-06-19 22:34] rdaly525 opened #558 "Code duplication in serialization (verilog/firrtl) due to corebit and coreir primitives being similar"

[2018-06-19 23:21] rdaly525 opened #559 "Verify concat has in1 being msb and in0 being lsb"
This needs to be consistent in:
verilog definition
firrtl definition
simulator

[2018-06-26 03:12] rdaly525 commented on #559
Fixed by #562

[2018-06-26 03:12] #559 closed

[2018-06-26 03:37] #210 closed

[2018-06-26 03:38] rdaly525 opened #565 "Add tutorials building as part of travis test"

[2018-06-29 23:07] leonardt commented on #488
I think it makes sense.

It allows C-API related changes to move at a different pace than coreir (e.g. doesn't need to flow through coreir's main dev branch). I think this could promote the idea that the C-API stays relatively stable.

[2018-06-29 23:07] leonardt commented on #488
I can work on this at the end of next week

[2018-06-30 05:16] rdaly525 opened #567 "Test Roms in simulator"
I changed the init parameter to roms to be a json argument. We should come up with multiple ways to interpret the rom parameter.
I am thinking something like:
{_type: "array", value: [[<double array of rom values>]]}
or
{_type: "file", value: "filename.bin"}

etc... This allows some flexibility in representing the initialization of ROMs.

[2018-06-30 05:17] rdaly525 commented on #567
@dillonhuff , @leonardt What do you think?
We should also try to make something somewhat consistent with Magma

[2018-07-02 15:24] rdaly525 opened #568 "Fix hack “onlyTop” in InstanceGraph pass"

[2018-07-11 03:07] dillonhuff commented on #567
@rdaly525 now is not a great time since I'm preparing a paper for August 3rd.

Are there examples of coreir that use this new json rom? Also could you send a link to Pat's pico processor? Does it already have behavioral tests that I could use?

[2018-07-11 20:47] adamdai opened #572 "Building CoreIR on Linux"
Hi, I'm trying to install CoreIR from source so I can use aetherling. I cloned the repo and switched to the dev branch, and running `make install CXX=g++-4.9` gives me the following error.

[code]
I also get the same error when running 'make -j'. Has anyone seen this error before or have any ideas how to get around it? Thanks

[2018-07-11 22:45] leonardt commented on #572
Was there an error in a previous run of the build? You may need to rebuild `dag_optimiziation.o`. Try deleting that file and re-running make

[2018-07-11 23:55] adamdai commented on #572
Oh alright thanks I think that worked. I wasn't able to run the tests because my VM ran out of virtual memory/swapspace but I'm guessing the install is fine...

[2018-07-11 23:55] #572 closed

[2018-07-12 04:53] leonardt opened #573 "Missing top module in verilog output"
Input .json

[connect_box_width_width_16_num_tracks_10_has_constant1_default_value7_feedthrough_outputs_1111101111.json.txt](https://github.com/rdaly525/coreir/files/2187121/connect_box_width_width_16_num_tracks_10_has_constant1_default_value7_feedthrough_outputs_1111101111.json.txt)

Command
[code]

Verilog output, notice that `connect_box_width_width_16_num_tracks_10_has_constant1_default_value7

[2018-07-12 04:56] leonardt commented on #573
Sorry, those files were too large to easily read the issue, i've attached them instead (needed to rename them to `.txt` so github would let me upload them into the issue).

[2018-07-12 04:57] leonardt commented on #573
Possibly related to https://github.com/rdaly525/coreir/issues/568?

[2018-07-12 21:29] leonardt commented on #573
Looks like this bug was introduced in the most recent dev->master merge.
Reverting to the previous release (`git checkout git checkout f9c60fa44a3ac6f5bee85f628988716786a0fa9c`) fixes the issue.

[2018-07-13 03:35] David-Durst commented on #543
Fixed

[2018-07-13 03:35] #543 closed

[2018-07-13 05:22] leonardt commented on #573
Sorry typo in the last comment, the working commit is dd081a2d6d1f8268cd4034fda88b28bd8ab33863

[2018-07-17 19:23] David-Durst opened #579 "Generators Not Running (Again)"
This seems related to https://github.com/rdaly525/coreir/issues/543, though that particular file now works.

One of my Linebuffer tests fails at the line https://github.com/David-Durst/aetherling/blob/feab7925fae570fe345c80a50c21fd2c60a3fdc5/tests/test_linebuffer.py#L58. It appears to be because the generators aren't running, as with the prior issue. I get the same issue when running it through th

[2018-07-17 19:39] leonardt commented on #579
Any idea when this was introduced? You might try rolling back to a prior release (see this page for the commiits to checkout https://github.com/rdaly525/coreir/releases) to see when the bug was introduced

[2018-07-17 20:14] David-Durst commented on #579
Verified fails with same error for v0.0.13 and v0.0.10. v0.0.10 is from March 16. This is either a bug with my code or its been there for a long time.

[2018-07-20 04:46] rdaly525 commented on #579
This was just an error in the error reporting. Really there is a bug in the implementation of the linebuffer (unconnected wire). Referenced in #580

[2018-07-20 04:58] rdaly525 commented on #549
Tracked by #581

[2018-07-20 05:20] rdaly525 commented on #573
Should be fixed by #582

[2018-07-20 16:18] leonardt commented on #573
Fixed by #582

[2018-07-20 16:18] #573 closed

[2018-07-20 16:19] leonardt commented on #573
@adai you can now update your coreir installation to the latest master branch

[2018-07-20 18:50] David-Durst commented on #579
The test passes now that I wired valid_chain up to a term.

[2018-07-20 18:50] #579 closed

[2018-07-27 21:57] JKHHai opened #585 "Call to primitive regrst has not been updated in Mantle.hpp"
In line 61 of Mantle.hpp:
https://github.com/rdaly525/coreir/blob/4f85bab3aa1990f28bd188fdfa330050074c1839/src/ir/headers/mantle.hpp#L61
Mantle.reg calls coreir.regrst, not coreir.reg_arst. This results in an error when a mantle.reg is instantiated with a reset.

[2018-07-28 00:54] leonardt commented on #549
#581 was merged into dev, closing.

[2018-07-28 00:54] #549 closed

[2018-07-30 01:53] leonardt opened #587 "Mapping magma's unnamed tuple type to coreir"
Magma has a tuple type that is similar to Python's tuple, which is a heterogenous container (unlike array) that can be indexed. The python version:
[code]
I tried mapping the type to a coreir record with the index as the key ("0", "1"), but coreir complains that on the variable name with
[code]

Here's some possible resolutions:
* magma maps the index to a string key (e.g. "one", "two", ...)
* cor

[2018-07-30 16:48] rdaly525 commented on #587
I would recommend ("_0", "_1", "_2", etc) since that is easy to programmatically recognize and construct. The second option is possible, but there are some disadvantages since currently I can use numbers in select paths to disambiguate between records and arrays. I would rather not do the third option since it is simply a more restrictive version of a record type and can be easily emulated using a

[2018-07-30 17:58] leonardt commented on #587
Okay, seem reasonable. I'll go with the "_" prefix for now, that was simple enough.

[2018-07-30 17:58] #587 closed

[2018-07-31 01:46] rdaly525 opened #588 "Ability to have custom names for generated modules."
@leonardt people seemed to really buy into the idea of custom names for verilog modules.

This issue is for propagating generated names through coreir so that it can be output to verilog.

Possibilities:
1) Similar to a typegen, have a namegen.
2) Relax the generator interface to allow generators to actually create the module instead of just filling in the definition

[2018-08-01 13:27] rdaly525 opened #589 "Update verilog backend to use file/line number metadata"

[2018-08-01 13:27] rdaly525 commented on #585
closed by #586

[2018-08-01 13:27] #585 closed

[2018-08-01 13:28] rdaly525 commented on #565
Fixed by #529 for the HelloCounter

[2018-08-05 06:42] David-Durst opened #593 "Failing CoreIR Clock Wiring Pass On Nested Map Call"
https://github.com/phanrahan/magma/issues/238 enabled the wire-clocks pass to handle modules with an input that is an array of CLK inputs. However, the pass still fails for modules with an input that is an array of arrays of CLK inputs. Running https://github.com/David-Durst/aetherling/blob/2b04d346dcd82dee3691c4e503b9859d1dbef010/tests/test_native_line_buffer.py#L58-L80 fails with the following o

[2018-08-06 01:17] phanrahan opened #594 "Building coreir on osx high sierra"
The new versions of OSX have system integrity protection enabled. When that is enabled, the environment variable DYLD_LIBRARY_PATH has no effect. The only way to use coreir is to install it in a standard place like /usr/local/lib.

The installation instructions should be updated.

[2018-08-06 02:31] leonardt commented on #593
I don't know if we can automatically wire up an array of clock inputs.

For example, if we have
[code]
and we have two instances
[code]
which index of self.CLK should be wired up to inst0 or inst1?

[2018-08-06 02:34] leonardt commented on #593
If it's a 1 element array we could do it, but that seems like a funky special case

[2018-08-06 02:35] leonardt commented on #593
I think in this case, it might be best of the generator creating the instances and clock inputs handles the wiring itself? Because in the case of map I'm guessing there's a one to one mapping (clk[i] wires up to inst{i}.clk). Don't know if we can generalize this notion.

[2018-08-06 02:40] leonardt commented on #593
So you're asking for wireclocks to handle just a single source clock as an array of 1 element, possibly nested?

[2018-08-06 02:40] leonardt commented on #593
You're original issue asked for support for an array of of CLK inputs, which implies more than one clock input

[2018-08-06 02:41] leonardt commented on #593
Oh I see, you're just asking for a nested array of arrays of clock inputs to an instance, not in the interface, the wording is confusing.

[2018-08-06 02:55] leonardt commented on #593
I think there is still an ordering issue, see this module definition
[code]

In this case, we could automatically do the wiring `op_0.CLK <=> self.CLK[0][0]`, which I think is what you want, but that only works if `self.CLK` is a nested array of just 1 element. So this would be special casing wiring a single source clock that just happens to be described as a nested array. If we have a general nes

[2018-08-07 04:15] leonardt commented on #593
@David-Durst the test now passes for me with d9429b4abddd1acbd64b7739b277ef69417bc795, can you try it out? Changed the logic to detect if a clock is connected to be quite a bit simpler.

[2018-08-07 07:58] David-Durst commented on #593
@leonardt it works for me now in the doubly nested case. Thanks!

[2018-08-07 07:58] #593 closed

[2018-08-10 23:05] cristian-mattarei opened #596 "Bit-level connections not resolved after calling packconnections pass"
Running the packconnections pass on the model https://github.com/cristian-mattarei/CoSA-models/blob/master/fifo_async/oh_fifo_generic.json some bit-level connections are not resolved.
An example are the connections

[code]

that are not packed, even if both elements are of size 5.

[2018-08-16 23:36] leonardt opened #600 "Inline verilog primitives like `&` and `+`"
Right now the coreir primitives are instantiated and wired up just like any other module. If we could inline primitive expressions when possible (such as &, |, +, etc...) I think that would clean up some of the generated verilog.

@rdaly525 I can take a stab at this, but want to get your approval that this is a good idea before moving forward.

[2018-08-19 23:14] rdaly525 commented on #600
I think this is a good idea as long as we add this as an optional flag to the verilog pass. Logistically it does seem a bit tough.

[2018-08-21 04:38] rdaly525 commented on #596
Closing

[2018-08-21 04:38] #596 closed

[2018-08-25 16:11] rdaly525 commented on #600
This is in dev currently. Closing

[2018-08-25 16:11] #600 closed

[2018-08-25 16:12] rdaly525 commented on #589
Currently working in Dev. One issue is that if the modules are built from different files, it is not guarenteed to work. Considering it an experimental feature.

[2018-08-25 16:12] #589 closed

[2018-08-27 21:52] rsetaluri opened #609 "Add option to split into multiple verilog files"
See: https://github.com/phanrahan/magma/issues/254

[2018-08-29 23:11] jeffsetter opened #610 "Floating Point"
Several applications (optical flow, camera pipeline, unsharp) that currently wish to be supported, as well as future application need floating point support.

I suggest adding this as a new datatype along with Ints.

[2018-08-29 23:12] jeffsetter opened #611 "Divider"
No operator exists for division yet.

This will likely also need a default library implementation as well.

[2018-08-30 03:53] leonardt opened #613 "Expose hook for saving modules to verilog via C api"
We have a way of saving a module to a coreir json file, it would be useful to have a similar function to save it to verilog. This would allow compilers using the C api to save verilog files directly, instead of dumping .json files to a file and using the coreir binary. I'm guessing the code will look similar to the code found in the coreir binary for output `.v` files.

[2018-09-05 23:56] rsetaluri opened #614 "Detect and flatten module inputs as instance inputs"
Imagine a simple module with input `I` and output `O`, and an instance of another module with the same interface, and this module's `I` and `O` are wired to the instance's. In CoreIR we generate verilog like:

[code]

where as the natural verilog is:

[code]

It may be hard to do super generally but I think this specific case we can flatten in verilog generation.

[2018-09-06 05:41] rsetaluri commented on #609
Solved by #612

[2018-09-06 05:41] #609 closed

[2018-09-14 20:16] jeffsetter opened #618 "Array of Values"
Currently there is no way to pass an array of arguments. This is needed, for example, to set the values inside a rom.

Support for array of values is needed to fully implement a LUT for a camera pipeline application.

[2018-09-15 03:58] rdaly525 commented on #618
I added a Json type a while back. You should be able to use that to support whatever data structure you like including arrays.

[2018-09-15 05:07] jeffsetter commented on #618
Oh, do you have an example of how to do that?

[2018-09-15 15:05] rdaly525 commented on #618
https://github.com/rdaly525/coreir/blob/master/tests/unit/valuetest.cpp

[2018-09-18 23:37] David-Durst opened #619 "Fix Flattening In Symbol Table"
As seen in https://github.com/phanrahan/magma/issues/287, there are issues in viewing the values of nested ports in the Magma simulator that is based on the CoreIR simulator. The simulator crashes as it can't find the correct values in the symbol table. For example, https://github.com/David-Durst/aetherling/blob/ed4a632ef935dc79fe991677300a8e092ed9df4b/tests/test_native_2d_line_buffer.py#L371 requ

[2018-09-24 17:53] jeffsetter commented on #618
Perfect that works!

[2018-09-24 17:53] #618 closed

[2018-09-26 15:41] leonardt opened #621 "Mechanism for compiling wrapped verilog (black box)"
Is there an existing mechanism for attaching an existing verilog file or string to a module? That is, the module is a "declaration" (with an interface) and when compiled through the verilog backend, it just emits the attached string.

[2018-09-26 19:58] rsetaluri commented on #621
I started working on this and it is definitely possible, but didn't finish because I realized using `DeclareFromVerilog` in magma was good enough. The way to do it is to add metadata to the declaration and check in coreir if a `verilog` metadata item exists, then emit that as the generated verilog. There are some nuances in terms of whether to take the module declaration/header from the original s

[2018-09-27 22:43] rsetaluri commented on #621
@rdaly525 to update you: @leonardt and I had some discussions. I think ultimately it would be good to have explicit verilog wrapped modules in coreir. Whatever the specific mechanism is, the functionality we want is to declare a module in CoreIR with an interface specified in CoreIR, that when compiled to Verilog splats out a given piece of code **including** the header/declaration as well. That i

[2018-10-01 04:43] rdaly525 commented on #621
@rsetaluri I am a little confused on what you want here. Lets discuss tomorrow.

[2018-10-01 05:10] rdaly525 commented on #610
I think a longer discussion will need to be had for supporting floating point which should coordinate with the magma toolchain.

[2018-10-02 22:31] leonardt opened #622 "Possible issue with clang/llvm 10.0.0 (latest xcode tools)"
Coreir version
[code]
Result of trying to compile
[code]

Here's my `g++` version
[code]

[2018-10-02 22:33] leonardt commented on #622
Here's a similar issue: https://github.com/aws/aws-sdk-cpp/issues/825
Here is there resolution: https://github.com/aws/aws-sdk-cpp/pull/828/files

[2018-10-02 22:38] leonardt commented on #622
Temporary workaround:
[code]

[2018-10-02 22:58] rdaly525 opened #623 "Add verilog flag to output verilog 95 version of parameterized modules"

[2018-10-03 16:38] leonardt commented on #622
Current workaround (depends on https://github.com/rdaly525/coreir/pull/624)
[code]

[2018-10-03 19:51] leonardt commented on #622
`g++-4.9` spits out a bunch of strange text segment bugs. Using `g++-8` (from `brew install gcc`) avoids these warnings.

[2018-10-04 14:42] leonardt opened #625 "Latest coreir release prepending `global_` to output verilog modules in the global namespace"
Is this behavior intended? The main issue here is the top module in the `.json` file now has a different name in the output verilog, specifically `global_<top_name>`. We could handle this mapping downstream (i.e. in the magma/garnet code), but I wanted to double check that this is the intended behavior. It's a little odd that the `top` module that I pass in to coreir now has a different name in th

[2018-10-04 14:44] leonardt commented on #625
Here's an example
[example.json.txt](https://github.com/rdaly525/coreir/files/2446767/example.json.txt)

[code]

[2018-10-05 16:59] rsetaluri commented on #621
Updating based on recent discussions:

1. We want a mechanism to c/p an *entire* verilog module, including interface. To enable this, we should add something like a `interface_and_definition` inside `module.metadata.verilog`. If this is present, then both `interface` and `definition` are ignored, and the entirety of `interface_and_definition` is used as the verilog codegen (let's pick a better nam

[2018-10-05 18:11] rsetaluri opened #626 "Collapse inlined operators"
Even with inlining, we have bloat of wires in output verilog. See a simple add:

magma:
[code]

verilog:
[code]

This problem is exaggerated if we have bigger expressions, e.g. `res = ~(a + b) + c` or something. I believe it should be tractable to figure out these paths, and flatten them into fairly simple verilog statements. Basically, any contiguous chains of inlined expressions can be flattened

[2018-10-06 23:33] leonardt opened #627 "Missing connections in coreir -> verilog"
Input coreir json:
[code]
Output verilog
[code]

Verilator error
[code]

Here is a smaller example with just the module causing the issue
[code]

Running this with `coreir -i mux.json -o mux.v` produces
[code]

Notice the instance of `commonlib_muxn_U0` has only an `in` port for its inputs. I think it's not unpacking the `tuple` input into separate ports, but it does look like the surround wires a

[2018-10-10 04:32] rdaly525 commented on #625
Fixed by #628

[2018-10-10 04:32] #625 closed

[2018-10-10 04:33] rdaly525 opened #629 "Verilog 'prefix' metadata does not work when module is lacking a verlilog definition"

[2018-10-10 04:34] rdaly525 opened #630 "Passes that change the types of generated modules need to somehow "invalidate" any typegens used to generate the modules."

[2018-10-10 14:18] rdaly525 commented on #627
fixed by #631

[2018-10-10 14:39] rdaly525 commented on #626
Definitely seems possible. I think one possible good "generatory" way to do this is for CoreIR to add something like a comb_AST generator.

I am imagining this generator where you pass in an AST of combinational CoreIR operators (using JSON). When outputting to verilog, CoreIR can just generate better verilog directly from this AST (either assign or always_comb blocks.).

CoreIR can then have a pa

[2018-10-11 02:47] leonardt opened #632 "Missing `}` in json output after running cullgraph"
[pe.json.txt](https://github.com/rdaly525/coreir/files/2467191/pe.json.txt)

[code]

produces the following `tmp.json`
[code]
It's hard to see, but you can verify it in vim by placing your cursor on the `{` before `"top"` and using the `%` movement to go to the matching brace. There is none. Then if you go to the `{` after `"namespaces":` and use `%`, it jumps to the last `}` in the file.

[2018-10-11 15:52] rdaly525 commented on #632
Well that is super strange. Ill take a look

[2018-10-11 15:55] rdaly525 commented on #632
@leonardt How blocking is this?

[2018-10-11 15:57] leonardt commented on #632
I managed to work around it by just not running the `cullgraph` pass. I was running this to cleanup the output file after flattening (so I could easily give the file to Cristian for debugging CoSA). The culling of the graph is not necessary for the CoSA test in garnet (it works on the unculled graph), the output file just contains more noise, so it's not blocking at the moment, but may make debugg

[2018-10-12 00:12] Kuree opened #633 "Passing metadata info through CoreIR"
Jeff and I are working on adding metadata information from the Halide all the way down to mapped JSON netlist. These metadata info, such as which computational kernel each instance belongs to, are extremely helpful for PnR tools.

We have something like this before the flattening:
[code]
When it gets flattened, we have
[code]
We lost the metadata information during the transformation.

Can you add

[2018-10-12 04:07] rdaly525 commented on #633
@Kuree @jeffsetter, I would advise adding in a flag to to the "flatten" pass to maintain metadata. You should look at the "verifyconnectivity" pass to see how to add/use a new pass flag.

In the "flatten" pass, before calling the 'inline" function, you can copy the metadata from the instances to the metadata of the module in a well specified way. I would advice somehow uniquifying the metadata usi

[2018-10-12 16:00] #627 closed

[2018-10-12 16:03] rsetaluri commented on #626
I think this is a good strategy. So to be clear, you want to implement 2 things:
- A transformation pass which converts combinational connections into an AST
- A mechanism to generate verilog code form such an AST

This way people can pass normal CoreIR and the first pass will flatten those combinational paths, or this can be handled in the front end as well.

[2018-10-18 17:10] rsetaluri commented on #621
Here is a small spec for the verilog metadata:

[code]

If `"module"` exists as a field then it is assumed that this is the entirety of the verilog module (interface and definition), and it should be copy pasted. In this case, the fields `"definition"` and `"interface"` should not exist.

[2018-10-18 20:59] leonardt opened #634 "Logging Infrastructure"
I'd like to add some logging infrastructure so we can more easily develop/debug with something more flexible than using `std::cout` and comments.

My initial search reveals: https://github.com/gabime/spdlog as a header file library option.

I have no experience with C++ loggers, so welcome to suggestions.

[2018-10-18 21:35] rsetaluri commented on #634
I wrote a *very* simple version of GLOG once. Here are the files...not sure where you want them to go.

logging_lite.hpp:
[code]

[2018-10-18 21:36] rsetaluri commented on #634
sample usage:

[code]

[2018-10-18 22:59] leonardt commented on #634
One features that would more useful that I use often in Python is a logger hierarchy or namespace.  This allows you to set log parameters for specific portions of the code base. For example, it would be nice to configure, say via an environment variable, `COREIR_LOG_DEBUG_VERILOG=1`, which would name debug logging just for the verilog backend namespace, but wouldn't turn on debug logging for the e

[2018-10-18 23:02] rsetaluri commented on #634
How do you achieve that in magma/python? we could likely do something similar if we use scoped objects (or use defer pattern) and a global stack.

[2018-10-18 23:09] leonardt commented on #634
In `magma.logging`, we define a top level logger
[code]

Then in the coreir backend, we define a child logger
[code]

So we can set `MAGMA_LOG_LEVEL=DEBUG` to turn on debug logging everywhere, or `MAGMA_COREIR_BACKEND_LOG_LEVEL=DEBUG` to only turn it on in the coreir backend.

The main mechanism is to grabbing logger objects (that have a hierarchy)
[code]
and then the ability to configure specific

[2018-10-19 00:15] leonardt commented on #626
FYI I have an initial patch that supports this by extending the existing inlining logic. It works for the basic case in this issue, but I discovered some subtle issues with a more complex circuit. Working on that.

I think this is possible without having to add the separate pass for fusion and having to construct an AST representation, but doesn't preclude that implementation if we decide it's a m

[2018-10-19 00:37] rsetaluri commented on #626
Very nice!! Can you briefly explain what the complications are?

[2018-10-19 01:10] leonardt commented on #626
Actually, I thought about it more and I think my proposed algorithm might actually be the basis for the fusion pass, it just implements the inlining logic immediately rather than decoupling it into two phases, so it should be possible to factor it out into a separate phase if we find that useful

[2018-10-19 01:17] leonardt commented on #626
Right now, the logic takes the input wire and regexes it into the definition, so if we had
[code]

and
[code]

we'd get something along the lines of

[code]

My first pass attempt at this was to take the other end of the connections, and inline that into the definition rather than the wire name (which you can think of the instance end of the connection), which results in something like

[code]

Th

[2018-10-30 20:46] rdaly525 commented on #622
Fixed by updating cxxopts #636

[2018-10-30 21:10] rdaly525 commented on #632
Fixed in #637

[2018-10-30 21:36] leonardt commented on #622
Confirmed that #636 fixes it for me, no longer need to use a different g++ to compile.

[2018-10-30 21:36] #622 closed

[2018-10-31 04:01] #632 closed

[2018-11-02 00:39] #621 closed

[2018-11-02 22:44] David-Durst opened #640 "Repeat of Verifyconnectivity Fixes Connectivity Issue"
An issue addressing https://github.com/phanrahan/magma/pull/312.

To reproduce this issue:
1. checkout magma at commit https://github.com/phanrahan/magma/commit/f8327e87f5def724738222167ab037f987981d61
2. checkout the latest Aetherling
3. Run `pytest -s tests/test_native_2d_line_buffer.py`

For some reason, removing the second verifyconnectivity pass causes https://github.com/David-Durst/aetherlin

[2018-12-07 01:28] leonardt opened #644 "[feature request] coreir quiet flag (or verbose flag)"
Right now running `m.compile` in magma produces output to stdout such as
[code]
It would be nice if we could silence this using `-q` or if it was quiet by default and shown during `-v` or some other debug flag.

[2018-12-07 02:09] leonardt commented on #644
Related to https://github.com/rdaly525/coreir/issues/634

[2018-12-11 16:58] leonardt opened #646 "Missing case for constant primitive inlining"
Here's a harmless case where inlining the primitives doesn't quite work as well as it should. Ideally the intermediate wire is not generated for the constant (but at least the constant module is inlined properly).

[code]

[2018-12-11 18:33] rdaly525 commented on #644
Sorry, this is spam in stdout that should be removed. Separately, I agree we should have a verbose flag, and all stdout should really go to stderr.

[2018-12-13 21:49] jeffsetter opened #647 "Demosaic fails coreir simulator"
I have been creating hardware for demosaic, but I am facing an issue when trying to simulate it during the circuit reset. Below is the error message. Any ideas on what could be happening?

Attached is the design:
[demosaic_design_top.txt](https://github.com/rdaly525/coreir/files/2677853/demosaic_design_top.txt)

starting reset
ERROR: add_882_884_885.in1 cannot be found

../../../../coreir/lib/libc

[2018-12-14 00:07] leonardt commented on #647
If it's possible, could you include the test bench driving the simulator (that causes the error above)? This would likely speed up resolution by providing a way to reproduce the issue locally.

Even better might be a simple test bench to isolate the issue (just the necessary sequence of actions to run into the reset issue).

[2018-12-14 07:22] dillonhuff commented on #647
My guess is that the problem is the simulator mishandling multidimensional arrays. Are you running the flattentypes pass before executing?

[2018-12-19 18:00] jeffsetter commented on #647
Yes, I'm doing flattentypes before executing. This is the code before failure:

[code]

[2018-12-19 21:23] dillonhuff commented on #647
@jeffsetter I just copy-pasted your code in to a unit test and ran it in coreir. I do not get a segfault when running reset on demosaic. What version of coreir are you on?

[2018-12-20 01:01] jeffsetter commented on #647
I just updated to master with no change in outcome.

[2019-01-08 22:41] dillonhuff commented on #647
Here is my preprocessed version of demosaic. It does not fail in simulation:

[demosaic_design_top_preprocessed.txt](https://github.com/rdaly525/coreir/files/2738671/demosaic_design_top_preprocessed.txt)

[2019-01-09 00:05] jeffsetter commented on #647
It appears there is an issue with my version of memories.hpp. Closing

[2019-01-09 00:05] #647 closed

[2019-01-11 22:26] rdaly525 opened #648 "Convert other logging statements in codebase to use new logging infrastructure"

[2019-01-15 04:50] rdaly525 opened #651 "Replace include guards with #pragma once"

[2019-01-15 18:33] rdaly525 opened #653 "remove commonlib dependency on coreir binary"

[2019-01-30 06:39] rdaly525 opened #661 "Add argument passing mechanism to coreir binary for specific passes."

[2019-01-30 21:25] alexcarsello opened #662 "Coreir_slice invalid default parameterization"
The following module is present in the generated verilog for the CGRA. As you can see the default parameterization is invalid, and Synopsys DC errors out because of this.
[code]
Errors:
`output [-1:0] out`
`assign out = in[0:1];`

[2019-01-30 21:42] rdaly525 commented on #662
Tracked by #663

[2019-01-30 23:45] dillonhuff opened #664 "Testbench fails on fresh checkout of dev?"
@rdaly525 I fetched the upstream of coreir, checked out dev and tried to build the testbench with a new floating point test, but when I did ```make test``` I got a testbench failure. The output is below:

[code]

Any idea whats wrong?

[2019-01-30 23:47] rdaly525 commented on #664
Probably an old gold file. I will look into it.

[2019-01-31 05:34] leonardt opened #665 "Non determinism in verilog backend"
[code]

Contents of test_concat.py
[code]

Example log of test failure:
[code]

[2019-02-03 04:52] rdaly525 commented on #662
@alexcarsello Can you confirm this is fixed in master?

[2019-02-03 05:09] rdaly525 opened #667 "Release is failing on a cxxopt parsing error"
https://travis-ci.org/rdaly525/coreir/builds/486269250

[2019-02-03 05:48] rdaly525 commented on #665
@leonardt Just commited a fix into the determinism branch

[2019-02-03 05:55] rdaly525 opened #669 "update Module.longname"
Module.longname currently uses "getUnique". It should really should be a string concat of all the generator arguments.

[2019-02-03 05:56] rdaly525 commented on #665
Sorry, this was not a good fix. Need to fix #669 before this one will work.

[2019-02-03 06:10] rdaly525 commented on #669
fixed by #668

[2019-02-03 06:10] rdaly525 commented on #665
Fixed by #668

[2019-02-04 22:15] alexcarsello commented on #662
@rdaly525 yes it's fixed now. Thanks.

[2019-02-05 01:59] #662 closed

[2019-02-06 17:47] jeffsetter opened #671 "Verilog module has incorrect output"
The following design is intended to perform 'out(x,y) = in(x-1,y) + 3*in(x,y)'. The output values have been checked correctly for cpu (using Halide) and coreir (using the coreir interpreter).

However, the verilog design appears to be performing just 'out(x,y) = 3*in(x,y)'

Following are the calls to create the verilog:
[code]

Output:
i=0  in: 5f  out: 11d (ignore this first output value)
i=1  in

[2019-02-06 17:52] jeffsetter opened #672 "Bugs in verilog output"
The following generated verilog has two bugs in generation:
1) VTop does not have a clk signal (line 568 of uncorrected)
2) Invalid verilog syntax (line 48 of uncorrected)
   [uncorrected is "assign out = 1b'value;" ]

CoreIR json:
[conv_1_2_design_top.txt](https://github.com/rdaly525/coreir/files/2837610/conv_1_2_design_top.txt)
Uncorrected generated verilog:
[conv_1_2_top_uncorrected.txt](https:

[2019-02-06 18:16] rdaly525 opened #674 "include verilog verification in testing infrastructure"
This will depend on #668 since it includes the verilog gold file checking.

In addition I want to add the following:

- [ ] lint check using verilator for a set of coreir examples that consume at least the space of all coreir primtiives
- [ ] verify that verilator and coreir simulator produce the same results.

[2019-02-06 22:30] rdaly525 opened #675 "Add ability to dump signals to a VCD file using the CoreIR simulator"
Initially, we just need support for dumping the IO of the top level module to a VCD format. https://en.wikipedia.org/wiki/Value_change_dump

[2019-02-07 01:27] scottcevans8 opened #676 "Missing Generator Symbol: commonlib.muxn"
Was having problems with trying to get the magma_tutorial working as it silently dies during compile and run. I made a smaller case: test.py

from magma_tutorial.adder import DefineAdd_
import fault
width = 4
Add = DefineAdd_(width)
tester = fault.Tester(Add)
tester.compile(target="verilator", directory="tests/build")

when I run it, it fails at
magma:WARNING:`m.compile` called with `output == ver

[2019-02-07 01:39] rdaly525 commented on #676
I can look into this tomorrow. @leonardt, do you know if the magma coreir backend loads commonlib at any point?

[2019-02-07 01:54] scottcevans8 commented on #676
Thank you. I'm not in a hurry, just wanted to take a look at the generated
files to understand a bit more about the tools.

On Wed, Feb 6, 2019 at 5:39 PM Ross Daly <notifications@github.com> wrote:

--
Scott

[2019-02-07 15:47] leonardt opened #677 "Inlining tests not trigger travis failure"
See https://github.com/rdaly525/coreir/pull/673 (also address the issue related to the bit width of constant inlining).

[2019-02-07 15:50] leonardt commented on #676
Hmm, weird. The magma coreir backend will load commonlib if a magma circuit is compiled that references that coreir library. AFAIK, only commonlib.muxn in mantle uses this feature, and the DefineAdd_ example from the tutorial doesn't have that.

This may be related to the uniquification logic which was eager and compiling all circuits (so the muxn was getting compiled), the latest master fixes thi

[2019-02-07 15:51] leonardt commented on #676
Confirmed that the above test case is working for me on the latest magma master/release (v0.1.14).
@scottcevans8 when you get a chance, can you try upgrading your magma installation and running the test again?

[2019-02-07 17:32] scottcevans8 commented on #676
I just installed 0.1.14 (was at 0.1.9 which I installed 2 days ago)

Have the same issue though although all of the magma tests are running now
for me. Before, several were failing.

I see in the Add4.json file that gets generated for my test case that there
is reference to the commonlib.muxn. I've attached the file to see if it
helps.

On Thu, Feb 7, 2019 at 7:51 AM Leonard (Lenny) Truong <
notif

[2019-02-07 17:47] leonardt commented on #676
Seems like the attached file got dropped (perhaps GitHub doesn't support emailing attachments for issues). You can send it to lenny@stanford.edu if that's easier, or upload via the GitHub web interface.

Can you also provide what version of coreir you're using? If you built from source, just the commit sha of your repository checkout works.

[2019-02-07 20:47] rsetaluri opened #678 "Collapsing inline operators seems to not work"
See the following magma:
[code]

We would expect the verilog to collapse the operators into `((I0 & ~S) | (I1 & S))` but it does not.

[2019-02-08 00:41] leonardt commented on #678
Yes the tests seem to be failing silently on travis (see https://github.com/rdaly525/coreir/issues/677). I'll investigate, there was likely a regression somewhere, possibly related to the debug verilator changes.

[2019-02-08 16:01] #669 closed

[2019-02-08 16:01] rdaly525 commented on #672
Number 2 is fixed.

[2019-02-08 16:03] rdaly525 commented on #667
This was due to a bad release based on Dev instead of master.

[2019-02-08 16:03] #667 closed

[2019-02-12 01:52] rdaly525 opened #679 "Simulation Semantics confusion"
@dillonhuff I am a little confused on the simulator semantics for the run() function and the runHalfCycle() (in interpret.cpp)

runHalfCycle() calls execute() first, then changes the value of the clock. This means that the evaluation of the new clock does not actually occur till the next time execute is called. Is this intentional, or is this expected behavior?

[2019-02-12 01:54] rdaly525 commented on #664
I cannot reproduce.

[code]
This seems to pass for me.

[2019-02-12 01:58] rdaly525 commented on #679
My usual verilator test bench looks something like this to avoid the issue of changing the value of any input at the same time as changing the clock edge
[code]

[2019-02-12 03:04] dillonhuff commented on #679
[code]

That is the intended behavior, though I don't remember why it was added.

[2019-02-12 05:20] rdaly525 opened #680 "Add test for verilog generation with Generators having Types and Modules and Json as parameters."

[2019-02-13 02:03] David-Durst opened #683 "Magma/CoreIR Simulator Shouldn't Segfault On Getting Nested Wire"
https://github.com/David-Durst/aetherling/blob/sim_issues/tests/helper_test_readyvalid.py#L54

This causes CoreIR to segfault and the simulator to stop. This shouldn't be a segfault. Not sure if this is a CoreIR or Magma issue.

[2019-02-13 02:03] David-Durst commented on #683
See https://github.com/phanrahan/magma/issues/351 for the matching magma issue.

[2019-02-13 02:04] David-Durst opened #684 "Support Access To Nested Wires In CoreIR/Magma Simulator"
https://github.com/David-Durst/aetherling/blob/sim_issues/tests/helper_test_readyvalid.py#L54

It would be incredibly helpful if this worked. I think this requires changing both Magma and CoreIR.

[2019-02-13 02:05] David-Durst commented on #684
https://github.com/phanrahan/magma/issues/352 for matching magma issue

[2019-02-13 05:51] dillonhuff commented on #679
@rdaly525 can I close this issue?

[2019-02-15 00:52] rsetaluri opened #689 "Add verilog backend for CoreIR LUT"
See https://github.com/phanrahan/mantle/blob/29ec32d76b2faf189525fcb5b5a845d817dcd9b2/mantle/common/decode.py#L28.

If we try to use this module, in certain cases it does not compile to verilog (through CoreIR) since there is no verilog backend defined for LUT.

[2019-02-15 01:03] leonardt commented on #689
For more info, the `mantle.LUT` implementation for coreir uses `commonlib.lutN` https://github.com/phanrahan/mantle/blob/29ec32d76b2faf189525fcb5b5a845d817dcd9b2/mantle/coreir/LUT.py

I think we could define a basic verilog implementation of a LUT to use as a generic verilog target?

[2019-02-15 01:17] rdaly525 commented on #689
working on #690

Still need to test it

[2019-02-18 02:22] #679 closed

[2019-02-19 21:47] David-Durst opened #694 "Add CoreIR Pass That Counts Primtive Usage"
Please add a pass that counts all the primitives that a design uses. For example, I would like to see all the 8 bit adders, 16 bit adders, n bit muxes, etc.

Lower priority part of request: if possible, could it be possible to run this hierarchically? For example, if the design hasn't been flattened, could I get the amount of primitives each instance requires?

[2019-02-19 22:19] rdaly525 commented on #694
To reiterate what we talked about for the final format: For every level of module hierarch, for every coreir primitive, print out the number of instances of that primitive, and the total number of instances of that primitive for all the children.

[2019-02-19 22:28] David-Durst commented on #694
Yes, thank you!

[2019-02-20 15:48] rdaly525 opened #695 "Use ordered map for recordparams, genargs,modarhs, etc..."
https://github.com/Tessil/ordered-map
This is a header only implementation

[2019-02-25 16:38] rdaly525 opened #698 "Update RAM generator to have a read latency parameter"

[2019-02-25 17:48] rdaly525 commented on #694
Done in #696

[2019-02-25 17:48] #694 closed

[2019-02-25 18:33] rdaly525 commented on #698
@leonardt, I am in the process of adding a read latency parameter to the memory.ram generator. The default implementation will use a coreir.mem along with coreir.reg for read delay. Would it be possible to add a similar parameter to the mantle memory generator and have it use CoreIR's memory.ram?

This is needed to be able to have yosys infer BRAMS from verilog code (pointed out by @splhack)

[2019-02-25 19:21] rdaly525 opened #699 "verilog inlining code sometimes hangs."
I have not been able to isolate an example as it happens randomly and on linux. Will update with a concrete way

[2019-02-27 23:05] rdaly525 opened #701 "Print out how long each pass took in verbose mode"

[2019-03-14 16:48] rdaly525 opened #712 "Branch cleanup"
Profiling -Jeff
cansel -Lenny
mem-hack -Lenny

master_Freeze_8_21_18 -Ross
mnr -Ross
object -Ross
Simcheck -Ross
Devtest -Ross
virtualtg -Ross
448b-freeze -Ross
typelang -Ross

@leonardt, @jeffsetter, what is the state of your coreir branches here? Can you delete/do a PR or let me know if you still need the branch?

[2019-03-14 16:50] leonardt commented on #712
Deleted my branch.  IIRC, 448b-freeze was the version of coreir used for our visualization project? That can probably be deleted, you could instead use a git-tag for the commit if we need to reference it in the future.

[2019-03-14 17:18] jeffsetter commented on #712
Deleted profiling, since its implementation was later implemented for #696

[2019-03-27 04:07] rdaly525 commented on #689
Closing

[2019-03-27 04:07] #689 closed

[2019-03-27 04:07] rdaly525 opened #715 "Add osx build to travis/release"
https://github.com/travis-ci/travis-ci/issues/10230

[2019-03-27 04:55] rdaly525 opened #716 "Basic Coreir library proposal"
What problems am I trying to solve?
-Better and safer mechanism for utilizing external libraries in coreir
-Ability to define and create multiple library implementations for coreir libraries.
-Link different implementations for the same library in a non-adhoc way.

Proposal:
-Separate the concept of a library and a library implementation.
  -A library defines all the modules and generators (includ

[2019-03-27 04:55] rdaly525 commented on #716
@leonardt, it would be great to get your thoughts on this.

[2019-03-28 03:13] rdaly525 commented on #418
Closing as this exists

[2019-03-28 03:13] #418 closed

[2019-03-28 03:14] rdaly525 commented on #411
Closing as duplicate

[2019-03-28 03:14] #411 closed

[2019-03-28 03:15] rdaly525 commented on #506
closing as unneeded

[2019-03-28 03:15] #506 closed

[2019-03-28 03:16] rdaly525 commented on #461
unneeded

[2019-03-28 03:16] #461 closed

[2019-03-28 03:17] rdaly525 commented on #401
Closing as this case is covered by using a json type

[2019-03-28 03:17] #401 closed

[2019-03-28 03:19] rdaly525 commented on #236
Closing as name has changed to coreir-simulator and coreir-interpreter

[2019-03-28 03:19] #236 closed

[2019-04-03 01:32] rdaly525 opened #718 "catch json parse errors"
https://github.com/nlohmann/json/issues/715

[2019-04-03 19:20] rdaly525 opened #719 "Make release script"
This should bump version number, and update the installation readme with the correct release link

[2019-04-25 00:44] jeffsetter opened #727 "Floating point support: CoreIR and simulator"
Add support for all floating operators:
add, mul, sub
le, lt, ge, gt, neq, neq, neg, sqr, flr, ceil, abs, min, max
div, rem
log, exp, pow, sqrt
sin, cos, tan, asin, acos, atan2

These are listed in order from most important to least important.

[2019-04-25 07:01] dillonhuff commented on #727
Cool. I assume bfloat and 32 bit are sufficient for now?

[2019-04-25 15:47] jeffsetter commented on #727
Yes. BFloat and Float32 would be sufficient.

[2019-04-25 21:59] leonardt opened #730 "Cannot connect Bit to BitInOut"
When trying to connect a Bit to a BitInOut I get the following error:
[code]

Is this expected behavior? Should I be using `wrap` to convert from Bit to BitInOut?

[2019-04-25 22:04] leonardt commented on #730
It seems like `wrap` is specifically for named types (since it uses `getRaw`)

[2019-04-25 22:27] rdaly525 commented on #730
You have to use either the tribuf primitive or the ibuf primitive depending on what you are trying to do. Tribuf is for driving an Inout and ibuf is reading from an ibuf. Sounds like you want the latter.

[2019-04-25 22:32] leonardt commented on #730
Here's the specific use case:

We have a verilog file `pad.v`
[code]

we're trying to do something in magma like

[code]

In this case, should the magma be user be inserting tribufs?

[2019-04-25 22:41] rdaly525 commented on #730
You would have to use an “ibuf” for “assign c = PAD”, and a tribuf for “assign PAD = ...”

Both of these will be structural instances. When we have verilog inlining working, it will resolve to what you have written.

[2019-04-25 22:44] rdaly525 commented on #730
Oh sorry I misread the question. This holds if you wanted to describe the verilog file using coreir.

If you want to “read” from pad.PAD, you have to use an ibuf in coreir

[2019-04-25 22:44] leonardt commented on #730
We're not trying to recreate the verilog in magma, the magma code is trying to instance the above verilog module (wrapped) which has an inout port in the interface. Magma allows connecting an output to an inout, but then the coreir backend fails when trying to compile that. Either magma could insert the `ibuf` or we could change magma to match coreir by requiring an explicit cast with `ibuf` or `t

[2019-04-25 22:45] leonardt commented on #730
We have another simple example where we're trying to connect an input to the wrapped verilog module, so we also need to "write" to the pad. That means we need to use `tribuf`, but what do we use for the `en` signal? I guess 1 could work?

[code]

[2019-04-25 22:46] leonardt commented on #730
(I think I had the examples flipped in terms of read/write)

[2019-04-25 22:52] leonardt commented on #730
Alex confirmed that the pad already contains the tri-state logic (this is actually a stub for IP he's trying to wrap), so it seems like we need a solution for inouts that handles the case when the tri-state logic is inside a black box wrapped verilog module

[2019-04-25 22:58] rdaly525 commented on #730
I don’t understand the context where you need to write to an IO without there being an enable signal. Usually an IO (or any inout) is used because there is a need for multiple drivers for that signal. Having multiple drivers requires there to be an enable signal for each driver of the Inout. If you are trying to test a case where it is guaranteed that there is only one driver of the IO and you hav

[2019-04-25 23:01] rdaly525 commented on #730
Usually for an IO pad that can act as either an input or an output, the enable signal for the tribuf comes from some configuration bit indicating whether you are treating the IO pad as an input or an output.

[2019-04-25 23:03] leonardt commented on #730
I think the use case is: Given an existing verilog module implementing a pad that has an `inout` in the interface and the enable logic is handled internally, how do we use this with coreir? It seems like your answer is to stick in a `tribuf` with a 1 on the enable? We can do that, but I'm not sure if that's the most elegant solution. Does this mean that the generated verilog will include this trib

[2019-04-25 23:07] rdaly525 commented on #730
Well it depends on how you want to interact with the inout signal. If you want to be able to drive that signal, you need to use a tribuf (with an enable). If you just want to read that signal (translate it into a BitOut), then coreir requires you to use an “ibuf” instance (which does not require an enable). Am I missing something?

[2019-04-25 23:15] leonardt commented on #730
How will this be compiled to verilog? Specifically, will the tribuf with enable 1 be lowered to verilog that inserts the enable logic? Is there a plan to remove that in this case where the enable is a constant 1?

Are there any other alternative design patterns here that avoids introducing noise into the generated verilog or complexity in the verilog backend to remove this noise?

It seems like th

[2019-04-25 23:15] alexcarsello commented on #730
The issue is that I have a pad cell which has tri-state logic inside it (and this has an inout pad port). I should not have to instantiate a tri-state buffer on the pad, which already contains a tri-state buffer. TheI should just be able to connect the pad pin the top-level pin of my chip. Even if I were using the pad bidirectionally, no circuit designer is placing an extra tri-state buffer on the

[2019-04-25 23:16] leonardt commented on #730
@alexcarsello the issue connecting inouts to inouts is likely a magma issue (that may be fixed in the inout branch), let me take a look at that

[2019-04-25 23:28] rdaly525 commented on #730
Perhaps the confusion is that I did not mention in coreir, you can connect an inout to an inout? There is no need to instantiate either a tribuf or an ibuf when just passing the inout wire through levels of instantiation.

You can think of ibuf as a kind of "cast" that allows for some form of static type checking. But the tribuf is a fundamental thing that semantically requires there to be an enab

[2019-04-25 23:53] leonardt commented on #730
Here is Alex's `Generator` code

[code]

from what I understand (@alexcarsello can clarify or expand), certain pads on the CGRA are parametrized with `is_input`. The generator generates a wrapper around the pad IP that changes the `inout` to and `input` or `output` (not shown in the generator stub, but I'm guessing alex will introduce other logic to configure the pad appropriately). So, we have a

[2019-04-26 00:06] alexcarsello commented on #730
@rdaly525 I am trying to drive the inout signal on the pad itself with the top level input of the chip, since the pad is configured to be in input mode permanently. In this case, I do not need to put a tri-state buffer on this top-level input to drive the pad.

[2019-04-26 00:08] leonardt commented on #730
I think one possible design alternative we can consider is introducing a special construct for working with Verilog `inout`s. It seems like coreir's use of `inout` is designed in a fashion that doesn't map cleanly to the verilog `inout`.

From what I understand, coreir's `inout` is designed such that the user is never allowed to connect directly to the `inout` and instead must go through the `ibuf

[2019-04-26 00:16] leonardt commented on #730
Now that I think about it, I think for the short-term furture, anyone manufacturing a design with IO (presumably most designs) will be running into this issue because the pad block will almost certainly be vendor IP defined as black box verilog, so I think this is an essential design issue worth considering.

Perhaps we should step back and consider this use case from the top-down (rather than try

[2019-04-26 00:16] rdaly525 commented on #730
So just so I am clear:

-You want each Pad to only ever by either an "input" (data flows from outside the chip to into the chip)
or an "output" (data flows from inside the chip to outside the chip)
-You want the port connecting the outside of the chip to be either an BitIn or a BitOut (But *not* an InOut)
-You want to use a blackbox verilog module that utilizes an inout port to connect outside the

[2019-04-26 00:18] alexcarsello commented on #730
I'm not sure what you used to try to compile this, but I can confirm that this does compile because it was used on the last chip, and on multiple other top-level netlists I've seen.

[2019-04-26 00:19] rdaly525 commented on #730
Verilator does not allows this to compile. Again, semantically it really does not make sense. The highest level pad type really should be "inout" instead of input

[2019-04-26 00:28] rdaly525 commented on #730
A wire declared as input inherently means that there is always a value driven on that wire. This is incompatible with inout (unless you use a tri state buffer). So if you really want this use case, I would claim it is a very niche and strange use case, and that you should stick in a tristate buffer with en=1 here to indicate this is what you are meaning to do. Perhaps an optimization pass can see

[2019-04-26 02:17] rdaly525 commented on #730
Okay, I think I can summarize the issue to reconcile everything.

Inouts inherently imply that they are capable of being driven by multiple signals. The normal use case to handle this is to only drive an inout with an enabled tristate buffer. The use case that you have in mind is that you have a module instantiation with an inout port which you would like to drive with an input that does not requi

[2019-04-26 02:19] rdaly525 commented on #730
In terms of whether magma wants to support directly connecting an inout to an input, I am indifferent. I lean towards this being a weird case and that the tristate buffer should be manually added, but I have my biases.

[2019-04-26 18:27] leonardt opened #733 "Use gtest for testing"
I setup `gtest` to handle testing https://github.com/leonardt/verilogAST-cpp, it was really simple to integrate into a cmake based workflow.

Here's some references I used:
* https://github.com/google/googletest/blob/master/googletest/docs/primer.md
* https://github.com/google/googletest/blob/master/googletest/README.md#incorporating-into-an-existing-cmake-project

Here are some example files to w

[2019-04-26 18:31] leonardt opened #734 "Enforce code style guidelines"
I think it would be good to start enforcing coding style guidelines so the codebase is consistent. @rsetaluri would vote for https://google.github.io/styleguide/cppguide.html#Formatting. A simpler, automated option is to use https://clang.llvm.org/docs/ClangFormat.html.

I think we should at least run a tool like `clang-format` on the entire code base to get it into a consistent state. The benefit

[2019-04-26 20:14] rdaly525 commented on #734
Agreed.

[2019-04-26 22:30] leonardt commented on #730
I don't think we necessarily have to change CoreIR's static semantics, an alternative would be to introduce a notion of a cast or "unsafe" like rust. Basically, there's a case (albeit niche) where we know that this is safe to do, but generally coreir believes this is an unsafe thing to do so it strictly prevents it. Unsafe/cast would allow us to make this connection knowing that it's okay.

Howeve

[2019-04-26 22:30] #730 closed

[2019-04-29 03:50] rsetaluri commented on #733
Huge fan of gtest and fairly experienced with it so, I'm in favor of running with it.

[2019-04-29 03:53] rsetaluri commented on #734
Ok with either, think they're pretty similar tbh.

Google also has a lot of tools for their style: https://github.com/google/styleguide

[2019-05-04 01:30] Kuree opened #737 "seg fault with cxxopt.hpp"
I'm trying to build the entire CGRA flow in docker and it seems like cxxopt.hpp is causing seg fault. Buld history can be seen here: https://travis-ci.com/Kuree/GarnetFlow/builds/110596805

Here is the trace in the docker container
[code]

Removing `cxxopt.cpp` in `passes` solves the problem.

[2019-05-06 16:08] rdaly525 opened #739 "Create bfloat div test"
(From Jeff)
Ran fp_pointwise on cpu
input(0,0) = 22 /pi = 7 (stored as 0x40e0)
input(1,0) = 10 /pi = 3.17188 (stored as 0x404b)
input(2,0) = 3.17188 /pi = 1.0078125 (stored as 0x3f81)
input(3,0) = 3.17187 /pi = 1 (stored as 0x3f80)
input(4,0) = 3.15625 /pi = 1
input(5,0) = 3.14063 /pi = 1
input(6,0) = 3.14062 /pi = 0.992188 (stored as 0x3f7e)
input(7,0) = 0.027451 /pi = 0.00866699 (stored as 0x3c0

[2019-05-07 08:06] dillonhuff commented on #739
Added in PR #740

[2019-05-07 18:07] rdaly525 commented on #739
Merged into dev

[2019-05-07 18:07] #739 closed

[2019-05-08 01:36] jeffsetter commented on #727
Btw, if you're interested in looking at the code that Halide uses to implement bfloat16, these two files that Andrew wrote are useful:
https://github.com/StanfordAHA/Halide-to-Hardware/blob/master/src/Float16.cpp
https://github.com/StanfordAHA/Halide-to-Hardware/blob/master/src/EmulateFloat16Math.cpp

[2019-05-12 02:01] David-Durst opened #744 "Enable Quiet Mode For Generators"
Aetherling testing logs are filled with "/Users/durst/dev/W17-8/coreir/2coreir/src/passes/transform/rungenerators.cpp:10 In Run Generators". There are roughly ~10 per test. It makes it quite challenging to read.

How can I disable these prints?

[2019-05-14 21:58] jeffsetter opened #746 "Floating point reset fails"
I have a design that is failing reset. It seems to occur during `state.resetCircuit()`

So far, it seems that fp_pointwise passes with fp_add or fp_mul; conv_3_3 works with int operators; however, fp_conv_3_3 fails during this step.

The failure is due to some value being filled with 'x's in extendBFloat, but I haven't figured out why one of the inputs of the floating point operator would have 'x'

[2019-05-14 22:45] jeffsetter opened #747 "Floating point sub"
It appears that floating point subtraction is not working.

Subtracting seems to be adding according to my tests, which can also be seen by using this test: https://github.com/rdaly525/coreir/blob/dev/tests/simulator/interpreter.cpp#L790

[2019-05-15 04:14] dillonhuff commented on #746
@jeffsetter I have no idea why resetCircuit would fail because of a floating point op.

How did you figure out that the failure is caused by 'x's in extendBFloat? Could you send a trace of what happens in the simulator?

[2019-05-15 04:32] dillonhuff commented on #747
@jeffsetter on closer examination that subtraction test case was broken (I was not truncating the 32 bit float result to 16 bits in the testbench.)

I have added more unit tests for both 16 and 32 bit and the tests pass locally. Are you sure something is wrong in the subtract node?

[2019-05-15 05:24] jeffsetter commented on #746
Below is a trace from gdb:
Note that I uncommented
https://github.com/rdaly525/coreir/blob/dev/src/simulator/interpret.cpp#L31
https://github.com/rdaly525/coreir/blob/dev/src/simulator/interpret.cpp#L58

Starting program: /nobackup/setter/h2h/float_tests/Halide-to-Hardware_float/apps/hardware_benchmarks/tests/fp_conv_3_3/bin/process run coreir input.png
[Thread debugging using libthread_db enabled

[2019-05-15 05:44] jeffsetter commented on #747
My test case was doing essentially input(x,y) + -pi (I thought it was subtraction, when in reality it was adding a negative number). Below is the output:
[code]
 For some reason it was not looking at the sign bit properly.
Looking at the implementation a little more closely, the error is fixed below:
[code]
Implementing this fix, it is now passing. It appears the test cases were not hitting this c

[2019-05-15 05:55] dillonhuff commented on #747
I just added that fix on my pull request. Thanks!

[2019-05-15 05:56] jeffsetter commented on #747
In addition, this could be caught in BitVector if it ensures that indices are not set out of bounds.
https://github.com/rdaly525/coreir/blob/dev/include/coreir/ir/dynamic_bit_vector.h#L514

We could at a ```.at()``` or an assert that the index is less than the array size.

[2019-05-15 05:59] dillonhuff commented on #746
Looking at this trace I think I understand the issue. The calls to float ops use casting of BitVector -> ```int``` in their implementation (so that they can then cast the ```int``` to a  ```float``` and use the CPUs floating point to emulate bfloats). This casting routine does not handle 'x's.

I will add a check for x values and return x if any float value contains an 'x'.

[2019-05-15 06:05] jeffsetter commented on #746
Do I want any 'x's though? During reset, I wasn't expecting any 'x's to be present in my design.

[2019-05-15 06:09] dillonhuff commented on #746
My understanding is that without x's on wires the moment before reset we will not be able to match Verilog simulation semantics, so having them is important.

What is your concern with having 'x' values on wires?

[2019-05-15 06:09] dillonhuff commented on #746
Aso I just pushed an update to #748 that should fix this casting issue.

[2019-05-15 06:28] jeffsetter commented on #747
This should be fixed in https://github.com/rdaly525/coreir/pull/748

[2019-05-15 06:28] #747 closed

[2019-05-16 06:25] jeffsetter commented on #746
Everything seems to be fixed based on https://github.com/rdaly525/coreir/pull/748

[2019-05-16 06:25] #746 closed

[2019-05-20 00:04] Kuree opened #749 "Add cmake release mode"
This will allow compiler to optimize the coreir libraries. Based on my experiments, using `-O3` reduces `garnet` compilation by 20% (15-20s).

[2019-05-20 22:49] rdaly525 opened #750 "Need ability to run generators non-recursively"

[2019-05-24 23:38] leonardt opened #751 "urem, srem, smod missing from coreVerilog"
See https://github.com/rdaly525/coreir/blob/master/include/coreir/definitions/coreVerilog.hpp

These are expected based on https://github.com/StanfordAHA/Primitives/blob/master/coreirprims.csv#L9-L10

[2019-05-26 19:27] Kuree opened #752 "Possibly upgrade the minimum requirement of gcc to 5"
GCC 4.8+ suffers from dual ABI string (see [here](https://stackoverflow.com/a/45420647). This is the main cused of all the segfault and `bad_alloc` bug we've seen earlier.

This problem is solved by using a newer gcc, such as gcc 5. Since gcc5 is a 4-year old compiler. I think maybe it's okay to switch from a 5-year old compiler (i.e. gcc-4.9)? Does one year make that much difference?

[2019-05-29 19:55] rdaly525 commented on #751
@leonardt, how high of a priority is this?

[2019-05-29 20:24] leonardt commented on #751
not currently blocking, this came up for fault's support for expressions. When testing the various operators, I compiled a magma circuit to match the corresponding hwtypes operator and parametrized the tests. For these test parameters, the verilog code generation fails, but for now I can just skip those tests. I don't know of anyone else who needs this.

[2019-06-06 02:36] rdaly525 opened #754 "LGraph: Viable open source timing analysis backend for CoreIR"
https://github.com/masc-ucsc/lgraph

[2019-06-06 02:38] rdaly525 commented on #754
Another: https://github.com/jinwookjungs/datc_robust_design_flow

[2019-06-06 02:57] rdaly525 commented on #754
https://github.com/lsils/lstools-showcase

[2019-06-06 03:17] rdaly525 opened #755 "Add an easy constructor API for all the CoreIR primitives"
Something like what you can do in magma.

auto c = concat(io->sel("in"),Const(3,5))
auto d = add(c,io->sel("in0"))

[2019-06-07 22:19] rdaly525 opened #758 "Add Buildkite to CoreIR for downstream tools"

[2019-06-12 21:44] dillonhuff opened #760 "ROM support in coreir simulator"
@Kuree I remember you saying something about the need for ROMs in the coreir simulator?

Do you have any examples of ROM use as a guide for unit testing?

[2019-06-12 21:57] Kuree commented on #760
Here: https://github.com/StanfordAHA/Halide-to-Hardware/tree/master/apps/hardware_benchmarks/tests/rom

[2019-06-13 06:32] rdaly525 opened #761 "CoreIR verbosity flag set to 0 makes it spam even more"

[2019-06-20 18:58] dillonhuff commented on #760
@Kuree I just got an email from Mark saying that camera pipeline is not working in the simulator.

Is the lack of ROM support what is blocking camera pipeline? If not could you file a separate issue about it.

[2019-06-20 19:21] Kuree commented on #760
According to Jeff, rom is the only thing that's blocking the simulation.

On Thu, Jun 20, 2019, 11:58 dillonhuff <notifications@github.com> wrote:

[2019-06-21 02:18] dillonhuff commented on #760
@jeffsetter could you send me the simulator output when you run on camera pipeline? It would be helpful to see the actual failure.

[2019-06-21 04:12] dillonhuff commented on #760
@Kuree we now have simulator support for ROMs in #764 . I could not get the example you linked to to build in Halide-to-Hardware (for other reasons related to my local machine settings), so I just tried to guess about the json initialization format. If there are other issues then @jeffsetter please send me the camera pipe json file and I can look at the ROM there.

[2019-06-21 04:13] Kuree commented on #760
@dillonhuff I don't know how to run the simulator, but here are the files you need:
- camera pipeline json file: https://transfer.sh/BM7IS/design_top.json
- input file: https://transfer.sh/FND1E/input.raw
- gold file: https://transfer.sh/cDPd4/output_cpu.raw

You should be able to use `wget` to download the files directly from the link.

[2019-06-21 04:19] dillonhuff commented on #760
Thanks for sending those.

@rdaly525 I notice that in the generated json rom init values are in decimal. Was there any reason not to use bit vectors?

[2019-06-21 04:26] dillonhuff commented on #760
@rdaly525 @Kuree changed the PR to assume ROM defaults will be encoded in decimal

[2019-06-21 04:28] jeffsetter commented on #760
Not a big reason not to use bitvector. We could change from decimal to bitvector.

[2019-06-21 13:00] jeffsetter commented on #760
Starting program: /nobackup/setter/h2h/float_tests/Halide-to-Hardware_float/apps/hardware_benchmarks/apps/camera_pipeline/bin/process run coreir input.png
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
/nobackup/setter/h2h/float_tests/coreir/src/passes/transform/rungenerators.cpp:10 In Run Generators
/nobackup/setter/h2h/flo

[2019-06-21 17:43] leonardt opened #765 ""Modular" compiler output"
The current coreir backend currently "flattens" the design into a single verilog file. One request we've seen from magma users is that it would be convenient if coreir could generate modules into separate files and also a "listings" file that includes all the generated files. For example, the user might want to have the coreir primitive definitions in a separate verilog file, so the output would b

[2019-06-21 22:14] leonardt commented on #765
Spelunking in the code, looks like there's already a split files option (https://github.com/rdaly525/coreir/blob/bef589737d5918f4e133a113692b40e28ff43262/src/binary/coreir.cpp#L200), so I think the only improvement this would need would be to generate the listings file alongside it. I think splitting files with the listings would be sufficient. For now, if the user wants to pack certain modules to

[2019-06-24 23:02] rdaly525 commented on #765
How much fine grain control do you think users should have over how to split? I think the easiest way is to have an option to split based off of library. This means that each library would be in a single file.

[2019-06-25 04:25] rsetaluri commented on #765
Just chiming in here: @leonardt `-s` or `--split` will split into multiple files. I can add an option to dump a text file listing the filenames.

[2019-06-25 17:18] leonardt commented on #765
I think a general per-module mechanism for annotating the desired output file (maybe by default have it be the name of the module) would be great.

For example: it would be nice to generate a listings file with two lists (or two separate listings files): one for the design, one for DV (e.g. behavioral models/stubs), maybe others. This would make it simple and general to pass various files to downs

[2019-06-25 18:01] rsetaluri commented on #765
Here is a starting point: #766. I think we need more clear definitions for "design" vs. "DV", but that would be great to support that. And I agree someway to annotate the output file per module would be great.

[2019-06-25 18:02] leonardt commented on #765
I don't think coreir would be figuring out design/dv, this is just an annotation the user would provide.

[2019-06-25 18:02] leonardt commented on #765
I think more generally it's a way to annotate modules as "groups" in the output.

[2019-06-26 01:08] jeffsetter commented on #760
After the recent changes in https://github.com/rdaly525/coreir/pull/764, we have the ROM being initialized, but still issues in running:

.........
"63"
AddrBv  = 11111110
Valuebv = 0000000000111111
"63"
AddrBv  = 11111111
Valuebv = 0000000000111111
generated simulated coreir design
reset clock self.clk
reset self.in_arg_0_0_0 with size 16
starting coreir simulation
ERROR: rom__curvea0$mem.raddr c

[2019-06-26 01:35] dillonhuff commented on #760
@jeffsetter so after inlining nothing is connected to the raddr port of the RAM? That seems very odd. Since the error does not show up in the manually wired up unit test.

Are there any other operation types in camera pipeline that are not used in other apps?

Also are you using constant folding before running the simulator? Perhaps some other nodes definition is not wired up correctly and constan

[2019-06-26 02:13] dillonhuff commented on #760
@jeffsetter could you send the most recent JSON file for camera pipeline that you used to produce the above error? I am trying to reproduce it in the simulator, but I cannot even get to the line you listed. I get a crash with an exception: "type must be string, but is array"

[2019-06-26 17:32] jeffsetter commented on #760
Attached is the updated json file. I changed my generation since you made some different assumptions in your code about the ROM JSON.

[rom_design_top.json.txt](https://github.com/rdaly525/coreir/files/3331270/rom_design_top.json.txt)

[2019-07-08 23:26] rdaly525 opened #767 "Specifying simulation functions in CoreIR"
I think this would work best if we treated ModuleDef (and/or GeneratorDef) as an Abstract Base Class, then have the simulator code be a concrete class that inherited from that.

@dillonhuff, let me know what you think of this option. We could then move the simulation code for each CoreIR primitive into its own class.

[2019-07-09 01:19] rdaly525 opened #768 "Transformation Pass to convert graph to functional form"
Functional form is defined by only having first level type hierarchy outputs connected to first level type hierarchy inputs.

This requires any bit select on the input of a module to use a concat primitive and any bit select on an output to use a slice.

This is the form that is required for CGRA mapping, and would be a good first step for reconstructing the combinational AST and running optimizat

[2019-07-09 04:04] dillonhuff commented on #767
@rdaly525 why would ModuleDef need to be an abstract class? What would be the downside of just adding a few virtual methods for simulation to the existing Module class?

[2019-07-09 04:22] dillonhuff commented on #767
Also in order to add black-box plugins we are probably going to have to get rid of the simulators saved state logging and reply.

Is anyone actually using that anymore?

[2019-07-11 05:47] dillonhuff commented on #767
Also @rdaly525 do you mind if I delete the compiled code simulator tests? That simulator is deprecated anyway and they slow the testbench down a lot.

[2019-07-14 21:25] dillonhuff commented on #767
Added in #769

[2019-07-24 17:00] rdaly525 opened #771 "Move catch.hpp to be a cmake dependency"

[2019-07-24 19:37] rdaly525 opened #772 "Verilog Generation"
- [ ] Replace verilog backend with verilogAST
- [ ] Replace metadata["verilog"] with concrete verilogAST definition
- [ ] Replace verilog definitions of coreir/corebit with verilogAST
- [ ] Linking unparameterized verilog files
- [ ] Linking parameterized verilog files

[2019-07-24 19:48] rdaly525 opened #773 "Libraries"
- [ ] Separate libraries into separate repo (especially commonlib, mantle, float)
- [ ] Create a concrete linking proposal which solves the following problems:
  - [ ] Separates "headers" from "implementations
  - [ ] Isolate librarys from the rest of coreir. (disallow accessing/modifying unrelated circuits)
  - [ ] has command line interface for linking libraries

[2019-07-24 19:55] rdaly525 opened #774 "Code cleanup"
- [ ] Apply .clang-format to all files
- [ ] Write style guide for CoreIR
- [ ] Replace all headers with #pragma once
- [ ] Use cmake external project
  - [ ] catch.hpp
  - [ ] json.hpp
  - [ ] Dillon's bitvector code
- [ ] Organize Issues

[2019-07-24 19:58] rsetaluri commented on #774
I am beginning this process. I hope to have something to show for this by end of summer. And all of what you mentioned above should be included.

[2019-07-26 04:59] dillonhuff commented on #760
@jeffsetter just saw your email. Is the file attached above still current?

[2019-07-26 18:34] jeffsetter commented on #760
Yes the file is current.

[2019-07-28 19:55] dillonhuff commented on #767
@rdaly525 can we close this issue?

[2019-07-31 03:19] #767 closed

[2019-07-31 20:23] leonardt commented on #772
Non-essential goal:
- [ ] automatic style formatting for verilog output or at least wrap long lines (ideally there's an existing tool we can use for this)

[2019-08-22 23:25] #760 closed

[2019-08-24 06:55] jeffsetter opened #786 "Zero Latency Memory"
The memory abstraction that I would like for simulating my circuits is a memory where the read data appears at the same time as the read address comes in. Note that this might not be feasible in a normal memory, but retiming should fix this later.

Currently, `coreir.mem` has a cycle delay between the address being calculated and the data being provided. We should create another memory that has no

[2019-08-24 19:34] dillonhuff opened #787 "Can we remove simulator rewind?"
@rdaly525 @jeffsetter  is anyone actually using that functionality or can I remove it? It si the source of significant performance issues.

[2019-08-24 19:53] dillonhuff opened #788 "Can we remove the Cpp backend tests?"
@rdaly525 @jeffsetter  I think we agreed last year that we were going to deprecate the c++ backend, but the tests never got removed. They take a long time and generate a bunch of output. Is anyone still using the C++ simulator for coreir?

[2019-08-25 00:50] jeffsetter commented on #788
I am still using the C++ simulator. If there is a better alternative, I can investigate that.

[2019-08-25 00:51] jeffsetter commented on #787
I do not use the simulator rewind feature.

[2019-08-25 01:28] dillonhuff commented on #788
@jeffsetter thanks for letting me know. I'll leave the tests in.

[2019-08-25 01:29] dillonhuff commented on #787
@jeffsetter good to know. @rdaly525 is there anyone else who needs it or can we remove it?

[2019-08-25 01:36] jeffsetter commented on #788
I'm still interested in the comment that:

Was the thinking that Fault would replace all testing? Perhaps someone could fill me in on what I should be using for CoreIR testing.

[2019-08-25 02:59] dillonhuff commented on #788
I think the thinking was that we would replace the CoreIR C++ backend with just compiling to Verilog and running Verilator. I didn't realize that anyone was still using the C++ backend.

[2019-08-25 03:17] jeffsetter commented on #788
Hm, I've had issues simulating the CoreIR implementation of the "rowbuffer" in Verilator. Furthermore, functional models that don't have CoreIR definitions will be difficult to simulate purely in Verilator. Maybe this warrants a further discussion, because I have been thinking myself that using the current CoreIR simulator isn't a long-term solution. And it sounds like it's already been decided be

[2019-09-06 22:20] joyliu37 opened #791 "Support Interpreter Simulation Plugin in PycoreIR"
Dillon has helped us create a simulation plugin in the coreIR interpreter to simulate the unified buffer functional model with PE and other logic. Is that possible to have pycoreir supported these functional simulation?

Currently I am using python to do the rewrite of our unified buffer for CGRA memory. I want to run the functional simulation at coreIR level. Since unified buffer do not have a ve

[2019-09-06 22:24] joyliu37 commented on #791
Any suggestion is welcome. @dillonhuff @David-Durst @leonardt

[2019-09-11 19:47] rdaly525 commented on #791
This should definitely be possible to do. I suspect the following should work:

1) Compile CoreIR interpreter and link in your Unified Buffer simulator implementation (into the interpreter dynamic library)
2) Install pycoreir from master (not from pip install)

Let me know if this doesn't work

[2019-09-24 15:21] rdaly525 commented on #786
@dillonhuff, could you take a look at this bug?

[2019-09-30 17:34] rdaly525 opened #792 "Unify "saveToFile" API"
Also change the default behavior to include all namespaces and to cull it based off of the top module.

[2019-09-30 17:35] rdaly525 commented on #792
@David-Durst, this should fix your https://github.com/leonardt/fault/pull/163#issuecomment-536663783

[2019-10-02 23:58] leonardt opened #797 "newDirectedModule does not return a new version after a pass has been run"
This code https://github.com/rdaly525/coreir/blob/b16724749fcd343b917f695d17276347d38d46a9/src/ir/module.cpp#L54-L59 always returns the first and only directed module that is created. This creates issues for code such as the following (pycoreir):

[code]

[upsample.json.txt](https://github.com/rdaly525/coreir/files/3683889/upsample.json.txt)

Notice that directed module is invoked before running p

[2019-10-05 03:42] THofstee opened #799 "CoreIR clock gated registers don't get inferred by synthesis tools"
When using the clock-gated registers output by CoreIR, the synthesis tools do not recognize this and put a correctly clock-gated register cell in the design. @mbstrange2 has more details.

[2019-10-05 04:15] mbstrange2 commented on #799
Since coreir does a logical clock gating (using the CE to mux between the register's current value and the update value), it won't get inferred as a real clock gate that would be inferred by the always@ description:
`always @(posedge clk) begin
    if(CE) reg <= new_value;
end`

I simply replaced all Register_.... modules with the always descriptions, so it's a simple fix.

[2019-10-06 13:30] rdaly525 commented on #799
I can provide a coreir fix for this as well (basically Max's solution). Can you send me a simple example coreir file that has this issue?

[2019-10-07 16:56] mbstrange2 commented on #799
[fifo.v](https://github.com/rdaly525/coreir/files/3698590/fifo.txt)

all the Register_has_* modules have this issue

[2019-10-07 16:57] leonardt opened #800 "NYI error flattening types on declaration"
Steps to reproduce:
[code]

The issue is that circuit has a nested type that needs to be flattened but it doesn't have a definition. @rdaly525 I can work on fixing this, do you happen to know if there were any issues related to this that I should look out for?

[2019-10-07 17:06] leonardt commented on #800
@rdaly525 this seems to fix the above test, I don't think it should affect existing code since it was an error before: https://github.com/rdaly525/coreir/pull/801

Basically, if the module doesn't have a definition, update the port list but don't modify the definition.  I think the problem is that this assumes that the linked module or generator will have the types flattened and there's not a way

[2019-10-07 17:07] rdaly525 commented on #800
I do not think this ever came up as an issue, so there is nothing tracking it.

The types of a no-definition module or generator should never be modified. This would break the black-box module abstraction. Maybe in the future I can support something like a log of modifications that need to occur on a black box module.

I think what should happen is that flattentypes and verifyflattentypes should b

[2019-10-07 17:08] leonardt commented on #800
Hmm, so you're saying there will be no way to compile a circuit that refers to a black box module with non-flattened types?

[2019-10-07 17:09] leonardt commented on #800
In this case, this has a non-flattened tuple type, not an array type.

[2019-10-07 17:13] leonardt commented on #800
For now, could we just issue a warning saying: black-box module is being modified, assumes that it will be linked with the appropriate type and add an issue for the more general solution later?

The main use case right now is that someone is compiling some magma code with declarations with tuples. They want to fill in the definitions later, and right now there's no way to compile it, so as long as